@using FhirCodeGenBlazor.Models
@using Microsoft.Health.Fhir.CodeGenCommon.Models

@if (ObjectToDisplay != null)
{
    <h3>FHIR Primitive Type: @ObjectToDisplay.Name</h3>

    <ArtifactPropTemplate>
        <ArtifactPropRowString Name="Id" Value="@ObjectToDisplay.Id"/>
        <ArtifactPropRowString Name="Name" Value="@ObjectToDisplay.Name"/>
        <ArtifactPropRowString Name="Path" Value="@ObjectToDisplay.Path"/>
        <ArtifactPropRowString Name="Base Type" Value="@ObjectToDisplay.BaseTypeName"/>
        <ArtifactPropRowString Name="URL" Value="@ObjectToDisplay.URL.ToString()"/>
        <ArtifactPropRowString Name="Standard Status" Value="@ObjectToDisplay.StandardStatus"/>
        <ArtifactPropRowString Name="Short Description" Value="@ObjectToDisplay.ShortDescription"/>
        <ArtifactPropRowString Name="Comment" Value="@ObjectToDisplay.Comment"/>
    </ArtifactPropTemplate>
}

@code {
    /// <summary>Gets or sets the object to display.</summary>
    [Parameter]
    public FhirPrimitive? ObjectToDisplay { get; set; } = null;
}
