@page "/"

@using Markdig;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;

@inject NavigationManager NavigationManager
@inject XverAppConfig ServerConfig
@inject IXverService Xver
@inject ProtectedLocalStorage BrowserStore
@inject IDialogService DialogService

<PageTitle>Home</PageTitle>

<FluentStack Orientation="Orientation.Vertical">
    <FluentTextField Label="Reviewer Name" Value="@UserName" @onchange="@(e => SaveConfig("userName", e))" />

    <FluentLabel Typo="Typography.Body">Database</FluentLabel>
    <FluentStack Orientation="Orientation.Horizontal">
        <FluentTextField Value="@DbPath" @onchange="@(e => SaveConfig("db", e))" />
        <FluentButton OnClick="@(e => OpenDb())">Open</FluentButton>
    </FluentStack>

    <FluentLabel Typo="Typography.Body">Output Root</FluentLabel>
    <FluentStack Orientation="Orientation.Horizontal">
        <FluentTextField Value="@OutputDir" @onchange="@(e => SaveConfig("outputDir", e))" />
        <FluentButton Disabled=@(!Xver.IsOpen && !isExporting) OnClick="@(e => WriteDocs())">Write Docs</FluentButton>
        @if (isExporting)
        {
            <FluentProgressRing/>
        }
    </FluentStack>


    @*     <FluentStack Orientation="Orientation.Horizontal">
        <FluentTextField Label="User Name" Value="@UserName"/>
        <FluentButton IconStart="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Save())"
        Appearance="Appearance.Outline"
        Title="Save Changes"
        OnClick="@(() => SaveChanges())">
            Save
        </FluentButton>
    </FluentStack>
 *@
    @* <div>@processedContent</div> *@
</FluentStack>

@code {
    private MarkupString processedContent = new(string.Empty);

    [CascadingParameter]
    public INavTracker? NavTracker { get; set; } = null;

    private string UserName { get; set; } = string.Empty;
    private string DbPath { get; set; } = string.Empty;
    private string OutputDir { get; set; } = string.Empty;

    private bool isExporting = false;

    // protected override void OnInitialized()
    // {
    //     processedContent = new MarkupString(Markdown.ToHtml(xver_editor.Data.Global.WelcomeMarkdownContent));
    // }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadConfigVaues();
        }
    }

    private void OpenDb()
    {
        (bool success, string? message) = Xver.Init(DbPath);

        if (success)
        {
            message ??= "Database initialized.";
            DialogService.ShowSuccess(message);
        }
        else
        {
            message ??= "Database initialization failed.";
            DialogService.ShowError(message);
        }

        StateHasChanged();
        NavTracker?.TriggerStateHasChanged();
    }

    private async Task WriteDocs()
    {
        isExporting = true;
        StateHasChanged();
        await Xver.WriteDocsFromDatabase(OutputDir);
        isExporting = false;
        StateHasChanged();
    }

    private async Task LoadConfigVaues()
    {
        try
        {
            var un = await BrowserStore.GetAsync<string>("userName");
            if (un.Value != null)
            {
                UserName = un.Value;
            }
            else
            {
                UserName = ServerConfig.UserName;
            }

            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            // ignore
        }

        if (string.IsNullOrEmpty(UserName))
        {
            UserName = ServerConfig.UserName;
        }

        try
        {
            var un = await BrowserStore.GetAsync<string>("db");
            if (un.Value != null)
            {
                DbPath = un.Value;
            }
            else
            {
                DbPath = ServerConfig.CrossVersionDbPath;
            }

            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            // ignore
        }

        if (string.IsNullOrEmpty(DbPath))
        {
            DbPath = ServerConfig.CrossVersionDbPath;
        }

        try
        {
            var un = await BrowserStore.GetAsync<string>("outputDir");
            if (un.Value != null)
            {
                OutputDir = un.Value;
            }
            else
            {
                OutputDir = ServerConfig.OutputDirectory;
            }

            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            // ignore
        }

        if (string.IsNullOrEmpty(DbPath))
        {
            OutputDir = ServerConfig.OutputDirectory;
        }
    }

    private void SaveConfig(string key, ChangeEventArgs e)
    {
        if (e.Value == null)
        {
            return;
        }

        switch (e.Value)
        {
            case string strValue:
                {
                    switch (key)
                    {
                        case "userName":
                            {
                                UserName = strValue;
                                ServerConfig.UserName = strValue;
                            }
                            break;
                        case "db":
                            {
                                DbPath = strValue;
                                ServerConfig.CrossVersionDbPath = strValue;
                                StateHasChanged();
                                OpenDb();
                            }
                            break;
                        case "outputDir":
                            {
                                OutputDir = strValue;
                                ServerConfig.OutputDirectory = strValue;
                                StateHasChanged();
                            }
                            break;
                        default:
                            break;
                    }

                    // save the user name in the browser store
                    _ = BrowserStore.SetAsync(key, strValue);
                }
                break;
        }
    }

}
