@page "/structures/{FhirPackageKey:int}"

@using Microsoft.Health.Fhir.Comparison.Models
@using xver_editor.Services
@using Microsoft.FluentUI.AspNetCore.Components
@using System.Diagnostics.CodeAnalysis
@using System.Collections.Concurrent;

@inject IXverService Xver
@inject NavigationManager NavigationManager

<FluentStack Orientation="Orientation.Vertical" VerticalGap="8">
    <FluentLabel Typo="Typography.H4">Structure Index for @PackageShortName - @_totalStructureCount StructureDefinitions</FluentLabel>

    @if ((Xver.IsOpen == false) || (Xver.DbConnection == null))
    {
        <FluentLabel Typo="Typography.Body">Database not open.</FluentLabel>
    }
    else if (uiRecs == null)
    {
        <FluentLabel Typo="Typography.Body">Loading...</FluentLabel>
    }
    else if (!uiRecs.Any())
    {
        <FluentLabel Typo="Typography.Body">No Structures found for this package.</FluentLabel>
    }
    else
    {
        <FluentGrid>
            <FluentGridItem>
                <FluentSwitch Label="Only Unreviewed" @bind-Value="OnlyUnreviewed"></FluentSwitch>
            </FluentGridItem>

            <FluentGridItem>
                <FluentSwitch Label="Exclude all identical" @bind-Value="ExcludeIdentical"></FluentSwitch>
            </FluentGridItem>

            <FluentGridItem>
                <FluentSwitch Label="Exclude primitives" @bind-Value="ExcludePrimitives"></FluentSwitch>
            </FluentGridItem>
        </FluentGrid>

        <div class="grid-container">
            <FluentDataGrid Items="@_filteredItems"
                            ShowHover="true"
                            ResizableColumns="true"
                            GridTemplateColumns="60px 2fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr"
                            class="structure-grid"
                            RowSize="@DataGridRowSize.Medium"
                            Pagination="@pagination">
                <TemplateColumn Title="" Sortable="false">
                    <FluentButton IconStart="@(new Icons.Regular.Size16.Edit())"
                                  Appearance="Appearance.Lightweight"
                                  OnClick="@(() => NavigateToDetails(context, true))"
                                  Title="Review" />
                    <FluentButton IconStart="@(new Icons.Regular.Size16.Edit())"
                                  Appearance="Appearance.Lightweight"
                                  OnClick="@(() => NavigateToDetails(context))"
                                  Title="Review" />
                </TemplateColumn>
                <PropertyColumn Title="Name" Property="@(sdr => sdr.Sd.Name)" Sortable="true" IsDefaultSortColumn="true">
                    <ColumnOptions>
                        <div class="search-box">
                            <FluentSearch type="search" Autofocus=true @bind-Value=nameFilter @oninput="HandleNameFilterChanged" @bind-Value:after="HandleNameFilterClear" Placeholder="Structure name..." />
                        </div>
                    </ColumnOptions>
                </PropertyColumn>
                <PropertyColumn Title="URL" Property="@(sdr => sdr.Sd.VersionedUrl)" Sortable="true">
                    <ColumnOptions>
                        <div class="search-box">
                            <FluentSearch type="search" Autofocus=true @bind-Value=urlFilter @oninput="HandleUrlFilterChanged" @bind-Value:after="HandleUrlFilterClear" Placeholder="Structure URL..." />
                        </div>
                    </ColumnOptions>
                </PropertyColumn>

                <PropertyColumn Title="Category" Property="@(sdr => sdr.Sd.ArtifactClass)" Sortable="true">
                    <ColumnOptions>
                        <div class="search-box">
                            <FluentSearch type="search" Autofocus=true @bind-Value=acFilter @oninput="HandleCategoryFilterChanged" @bind-Value:after="HandleCategoryFilterClear" Placeholder="Artifact Category..." />
                        </div>
                    </ColumnOptions>
                </PropertyColumn>

                <TemplateColumn Title="Unreviewed" Sortable="true">
                    <FluentCheckbox Value="@(context.HasUnreviewed)" ReadOnly="true" />
                </TemplateColumn>
                @foreach (DbFhirPackage package in _packages)
                {
                    if (package.Key == FhirPackageKey)
                    {
                        continue;
                    }

                    <TemplateColumn Title="@package.ShortName" Sortable="false">
                        <FluentCheckbox Value="@(context.MapsTo[package.Key])" ReadOnly="true" />
                    </TemplateColumn>
                }
            </FluentDataGrid>
        </div>
        <FluentPaginator State="@pagination" />
    }
</FluentStack>


<style>
    .grid-container {
        margin-top: 1rem;
        width: 100%;
    }

    /* Apply alternating row colors */
    ::deep .structure-grid fluent-data-grid-row:nth-child(even) {
        background-color: var(--neutral-layer-4);
    }

    /* Highlight hovered row */
    ::deep .structure-grid fluent-data-grid-row:hover {
        background-color: var(--neutral-layer-hover);
        cursor: pointer;
    }
</style>

@code {
    [Parameter]
    public int FhirPackageKey { get; set; }

    private int _loadedFhirPackageKey = -1;

    [Parameter]
    [SupplyParameterFromQuery(Name = "packageShort")]
    public string PackageShortName { get; set; } = string.Empty;

    [CascadingParameter]
    public INavTracker? NavTracker { get; set; } = null;

    private NavPageInfoRec[] _navPages => new NavPageInfoRec[]
    {
        new() { Display = $"{PackageShortName}: Structures", Link = $"/structures/{FhirPackageKey}?packageShort={PackageShortName}" },
    };

    private bool _onlyUnreviewed = true;
    private bool OnlyUnreviewed
    {
        get => _onlyUnreviewed;
        set
        {
            if (value != _onlyUnreviewed)
            {
                _onlyUnreviewed = value;
                FilterItems();
            }
        }
    }

    private bool _exlcludeIdentical = true;
    private bool ExcludeIdentical
    {
        get => _exlcludeIdentical;
        set
        {
            if (value != _exlcludeIdentical)
            {
                _exlcludeIdentical = value;
                FilterItems();
            }
        }
    }

    private bool _exlcludePrimitives = true;
    private bool ExcludePrimitives
    {
        get => _exlcludePrimitives;
        set
        {
            if (value != _exlcludePrimitives)
            {
                _exlcludePrimitives = value;
                FilterItems();
            }
        }
    }

    private string nameFilter = string.Empty;
    private string urlFilter = string.Empty;
    private string acFilter = string.Empty;

    private List<DbFhirPackage> _packages = [];

    private int _totalStructureCount = 0;
    private SdRecForUi[] uiRecs = [];

    private Lock _filterLock = new();
    private IQueryable<SdRecForUi>? _filteredItems;

    private PaginationState pagination = new PaginationState
        {
            ItemsPerPage = 25,
        };

    protected override void OnInitialized()
    {
        base.OnInitialized();
        NavTracker?.NotifyNav(_navPages);
        LoadStructures();
    }

    protected override void OnParametersSet()
    {
        if (_loadedFhirPackageKey != FhirPackageKey)
        {
            NavTracker?.NotifyNav(_navPages);
        }

        base.OnParametersSet();
        LoadStructures();
    }

    private void LoadPackages()
    {
        try
        {
            _packages = DbFhirPackage.SelectList(
                Xver.DbConnection,
                orderByProperties: [nameof(DbFhirPackage.ShortName)]);
        }
        catch (Exception)
        {
            _packages = [];
        }
    }

    private void HandleNameFilterChanged(ChangeEventArgs args)
    {
        if (args.Value is string value)
        {
            nameFilter = value;
            FilterItems();
        }
    }

    private void HandleNameFilterClear()
    {
        if (string.IsNullOrWhiteSpace(nameFilter))
        {
            nameFilter = string.Empty;
            FilterItems();
        }
    }

    private void HandleUrlFilterChanged(ChangeEventArgs args)
    {
        if (args.Value is string value)
        {
            urlFilter = value;
            FilterItems();
        }
    }

    private void HandleUrlFilterClear()
    {
        if (string.IsNullOrWhiteSpace(urlFilter))
        {
            urlFilter = string.Empty;
            FilterItems();
        }
    }

    private void HandleCategoryFilterChanged(ChangeEventArgs args)
    {
        if (args.Value is string value)
        {
            acFilter = value;
            FilterItems();
        }
    }

    private void HandleCategoryFilterClear()
    {
        if (string.IsNullOrWhiteSpace(acFilter))
        {
            acFilter = string.Empty;
            FilterItems();
        }
    }

    private void FilterItems()
    {
        lock (_filterLock)
        {
            _filteredItems = uiRecs
                .Where(TestItem)
                .AsQueryable();

            pagination.SetTotalItemCountAsync(_filteredItems.Count(), true).Wait();

            // if current page is now invalid, reset to first page
            if (pagination.CurrentPageIndex > 0 &&
                pagination.LastPageIndex.HasValue &&
                pagination.CurrentPageIndex > pagination.LastPageIndex.Value)
            {
                pagination.SetCurrentPageIndexAsync(0).Wait();
            }
        }
    }

    private bool TestItem(SdRecForUi item)
    {
        if (_exlcludePrimitives && (item.Sd.ArtifactClass == Microsoft.Health.Fhir.CodeGenCommon.Models.FhirArtifactClassEnum.PrimitiveType))
        {
            return false;
        }

        if (_onlyUnreviewed && (item.HasUnreviewed == false))
        {
            return false;
        }

        if (_exlcludeIdentical && (item.AllIdentical == true))
        {
            return false;
        }

        if ((!string.IsNullOrEmpty(nameFilter)) &&
            (!item.Sd.Name.Contains(nameFilter, StringComparison.OrdinalIgnoreCase)))
        {
            return false;
        }

        if ((!string.IsNullOrEmpty(urlFilter)) &&
            (!item.Sd.VersionedUrl.Contains(urlFilter, StringComparison.OrdinalIgnoreCase)))
        {
            return false;
        }

        if ((!string.IsNullOrEmpty(acFilter)) &&
            (!item.Sd.ArtifactClass.ToString().Contains(acFilter, StringComparison.OrdinalIgnoreCase)))
        {
            return false;
        }

        return true;
    }

    private void LoadStructures()
    {
        try
        {
            if ((Xver.IsOpen == false) || (Xver.DbConnection == null))
            {
                uiRecs = Array.Empty<SdRecForUi>();
                _totalStructureCount = 0;
                return;
            }

            if (_loadedFhirPackageKey == FhirPackageKey)
            {
                return;
            }

            _loadedFhirPackageKey = FhirPackageKey;

            // if (uiRecs.Length != 0)
            // {
            //     return;
            // }

            if (_packages.Count == 0)
            {
                LoadPackages();
            }

            // Query Structures for the specified FhirPackageKey
            List<DbStructureDefinition> structuresEnumerable = DbStructureDefinition.SelectList(
                Xver.DbConnection,
                FhirPackageKey: FhirPackageKey);

            ConcurrentBag<SdRecForUi> cb = new();

            Parallel.ForEach(
                structuresEnumerable,
                new ParallelOptions()
                    {
                        MaxDegreeOfParallelism = 3,
                    },
                (sd, cancellationToken) =>
            {
                SdRecForUi recForUi = new(Xver.DbConnection, sd, _packages);
                cb.Add(recForUi);
            });

            uiRecs = cb.ToArray();
            _totalStructureCount = uiRecs.Length;
            FilterItems();
        }
        catch (Exception)
        {
            // uiRecs = Enumerable.Empty<SdRecForUi>().AsQueryable();
        }
    }

    private void NavigateToDetails(SdRecForUi sdRec, bool useGrid = false)
    {
        string url = useGrid
            ? $"/structuremapping/{FhirPackageKey}/{sdRec.Sd.Key}?packageShort={PackageShortName}&sdName={Uri.EscapeDataString(sdRec.Sd.Name)}"
            : $"/structures/{FhirPackageKey}/{sdRec.Sd.Key}?packageShort={PackageShortName}&sdName={Uri.EscapeDataString(sdRec.Sd.Name)}";
        NavigationManager.NavigateTo(url);
    }

}
