@page "/structuremapping/{FhirPackageKey:int}/{StructureKey:int}"

@using Microsoft.Health.Fhir.Comparison.Models
@using xver_editor.Services
@using Microsoft.FluentUI.AspNetCore.Components
@using System.Diagnostics.CodeAnalysis
@using System.Collections.Concurrent;
@using System.Text;

@inject IDialogService DialogService
@inject IXverService Xver
@inject NavigationManager NavigationManager
@inject XverAppConfig ServerConfig

<PageTitle>@($"Mapping {PackageShortName}:{StructureName}")</PageTitle>

<FluentStack Orientation="Orientation.Vertical" VerticalGap="8">
    <FluentLabel Typo="Typography.H4">Structure mapping for @($"{PackageShortName}:{StructureName}")</FluentLabel>
    @* <FluentLabel Typo="Typography.Body">DB Key: @StructureKey</FluentLabel> *@

    @if ((Xver.IsOpen == false) || (Xver.DbConnection == null))
    {
        <FluentLabel Typo="Typography.Body">Database not open.</FluentLabel>
    }
    else if ((sdUiRec == null) || (sdGraphProjection == null))
    {
        <FluentLabel Typo="Typography.Body">Loading...</FluentLabel>
    }
    else if (sdUiRec.Projection.Count == 0)
    {
        <FluentLabel Typo="Typography.Body">No mappings found for this structure.</FluentLabel>
    }
    else
    {
        @* <FluentLabel Typo="Typography.Body">FHIR Specification: <FluentAnchor Appearance="Appearance.Hypertext" Href="@sdUiRec.GetFhirUrl()" Target="_blank">@StructureName</FluentAnchor></FluentLabel> *@
        @* <br/> *@

        <FluentLabel Typo="Typography.Header">Select a structure mapping group:</FluentLabel>
        <FluentDataGrid Items="@sdGraphProjection"
        ResizableColumns="false"
        GridTemplateColumns="@GetMappingTableColumns()"
        MultiLine="true"
        class="alternating-grid">
            <SelectColumn SelectMode="DataGridSelectMode.Single"
            TGridItem="DbGraphSd.DbSdRow"
            SelectFromEntireRow="true"
            Property="@(r => r.RowId == _selectedSdRowId)"
            OnSelect="@(e => StructureMappingRowSelected(e.Item, e.Selected))" />
            @for (int i = 0; i < _packages.Count; i++)
            {
                int packageIndex = i;
                <TemplateColumn Title="@_packages[packageIndex].ShortName" Tooltip="true" TooltipText="@(c => c.CellAt(packageIndex)?.Sd.UiDisplayLong)">
                    @{
                        DbGraphSd.DbSdCell? cell = context[packageIndex];
                    }
                    @if (cell != null)
                    {
                        <FluentStack Orientation="Orientation.Vertical">
                            <FluentLabel Typo="Typography.H6">@cell.Sd.Name</FluentLabel>
                            <FluentBadge Appearance="@(cell.Sd.Key == StructureKey ? Appearance.Accent : Appearance.Neutral)">
                                Elements: @cell.Elements.Count
                            </FluentBadge>
                        </FluentStack>
                    }
                </TemplateColumn>

                @if (i < _packages.Count - 1)
                {
                    <TemplateColumn Title="Comparison" TGridItem="DbGraphSd.DbSdRow">
                        @{
                            DbGraphSd.DbSdCell? cell = context[packageIndex];
                            // int cellIndex = packageIndex;
                            // DbStructureComparison? toRight = context[packageIndex]?.RightComparison;
                            // DbStructureComparison? fromRight = packageIndex < _packages.Count - 1 ? context[packageIndex + 1]?.LeftComparison : null;
                        }
                        @if ((cell == null) || (cell.RightCell == null))
                        {
                            @* <FluentButton>Add</FluentButton> *@
                        }
                        else
                        {
                            <FluentStack Orientation="Orientation.Vertical" Class="@(ClassForCell(cell.BidirectionalRight()))">
                                @if (cell.BidirectionalRight() == BidirectionalRelationshipCodes.Mismatched)
                                {
                                    <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                                        <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size20.Warning())" />
                                        <FluentLabel Typo="Typography.Body"><code>@(cell.BidirectionalRight()?.ToString() ?? string.Empty)</code></FluentLabel>
                                        <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size20.Warning())" />
                                    </FluentStack>
                                }
                                else
                                {
                                    <FluentLabel Typo="Typography.Body"><code>@(cell.BidirectionalRight()?.ToString() ?? string.Empty)</code></FluentLabel>
                                }

                                <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                                    <FluentIcon id="@($"fr-{context.RowId}-{packageIndex}-message")"
                                    Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size20.ArrowCircleLeft())"
                                    Title="@(cell.FromRightMessage())" />

                                    @if (cell.RightCell?.LeftComparison?.LastReviewedOn == null)
                                    {
                                        <FluentIcon Title="Unreviewed" Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Question())" />
                                    }
                                    else
                                    {
                                        <FluentIcon Title="@($"Reviewed by: {cell.RightCell!.LeftComparison!.LastReviewedBy} on {GetDateDisplay(cell.RightCell!.LeftComparison!.LastReviewedOn)}")"
                                        Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Checkmark())" />
                                    }

                                    @{
                                        string colKey = $"er-{context.RowId}-{packageIndex}";
                                        <div>
                                            <FluentButton Id="@($"{colKey}-btn")"
                                            Appearance="Appearance.Outline"
                                            OnClick="@(() => TogglePopover(colKey))">
                                                Edit
                                            </FluentButton>

                                            <FluentPopover AnchorId="@($"{colKey}-btn")"
                                            VerticalPosition="VerticalPosition.Top"
                                            FixedPlacement="true"
                                            Open="@IsPopoverOpen(colKey)"
                                            OpenChanged="@((value) => SetPopoverState(colKey, value))">
                                                <Header>
                                                    <FluentLabel Typo="Typography.Body">Select Bidirectional Relationship</FluentLabel>
                                                </Header>
                                                <Body>
                                                    <FluentStack Orientation="Orientation.Vertical" VerticalGap="4">
                                                        <FluentCombobox Items="@_bidirectionalRelationships"
                                                        Name="@($"{colKey}-combo")"
                                                        Width="950px"
                                                        Height="700px"
                                                        Placeholder="Search for a relationship..."
                                                        OptionValue="@(i => i.Value.ToString() ?? string.Empty)"
                                                        OptionText="@(i => i.Text)"
                                                        Multiple="false"
                                                        Autocomplete="ComboboxAutocomplete.Inline"
                                                        Autofocus="true"
                                                        Open="true"
                                                        SelectedOptionChanged="@(EventCallback.Factory.Create<Option<BidirectionalRelationshipCodes>>(this, (value) => UpdateSdRelationship(context.RowId, packageIndex, packageIndex + 1, value)))" />
                                                    </FluentStack>
                                                </Body>
                                            </FluentPopover>
                                        </div>
                                    }
                                    <FluentButton Appearance="Appearance.Outline" Title="Delete this Mapping" OnClick="@(() => DeleteSdMapping(context.RowId, packageIndex, packageIndex + 1))">
                                        <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Delete())" Color="@Color.Error" />
                                    </FluentButton>

                                    @if (cell.RightComparison?.LastReviewedOn == null)
                                    {
                                        <FluentIcon Title="Unreviewed" Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Question())" />
                                    }
                                    else
                                    {
                                        <FluentIcon Title="@($"Reviewed by: {cell.RightComparison!.LastReviewedBy} on {GetDateDisplay(cell.RightComparison!.LastReviewedOn)}")"
                                        Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Checkmark())" />
                                    }

                                    <FluentIcon id="@($"tr-{context.RowId}-{packageIndex}-message")"
                                    Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size20.ArrowCircleRight())"
                                    Title="@(cell.ToRightMessage())" />
                                </FluentStack>
                            </FluentStack>
                        }
                    </TemplateColumn>
                }
            }
        </FluentDataGrid>

        <br />

        @if (_selectedSdRow != null)
        {
            <FluentDataGrid GenerateHeader="GenerateHeaderOption.None" TGridItem="string" DisplayMode="DataGridDisplayMode.Table" role="grid">
                <FluentDataGridRow RowType="DataGridRowType.Header">
                    <FluentDataGridCell GridColumn="1">
                        <FluentLabel Typo="Typography.Header">Add new mapping:</FluentLabel>
                    </FluentDataGridCell>
                </FluentDataGridRow>

                @foreach ((DbGraphSd.DbSdCell? cell, int cellIndex) in _selectedSdRow.Select((value, idx) => (value, idx)))
                {
                    if (cell == null)
                    {
                        continue;
                    }

                    <FluentDataGridRow>
                        <FluentDataGridCell GridColumn=1>@($"{_packages[cellIndex].ShortName}:{cell.Sd.Name}")</FluentDataGridCell>
                        <FluentDataGridCell GridColumn=2>
                            @if (cellIndex > 0)
                            {
                                int tpIndex = cellIndex - 1;
                                <div>
                                    <FluentButton Appearance="Appearance.Outline"
                                    Title="@($"Add new mapping from {_packages[cellIndex].ShortName}:{cell.Sd.Name} to {_packages[tpIndex].ShortName}")"
                                    OnClick="@(() => ShowStructureSelectionDialog(cellIndex, tpIndex))">
                                        <FluentLabel Typo="Typography.Body">@($"{_packages[cellIndex].ShortName}:{cell.Sd.Name} to FHIR {_packages[tpIndex].ShortName}")</FluentLabel>
                                    </FluentButton>
                                </div>
                            }
                        </FluentDataGridCell>
                        <FluentDataGridCell GridColumn=3>
                            @if (cellIndex < _lastPackageIndex)
                            {
                                int tpIndex = cellIndex + 1;
                                <div>
                                    <FluentButton Appearance="Appearance.Outline"
                                    Title="@($"Add new mapping from {_packages[cellIndex].ShortName}:{cell.Sd.Name} to {_packages[tpIndex].ShortName}")"
                                    OnClick="@(() => ShowStructureSelectionDialog(cellIndex, tpIndex))">
                                        <FluentLabel Typo="Typography.Body">@($"{_packages[cellIndex].ShortName}:{cell.Sd.Name} to FHIR {_packages[tpIndex].ShortName}")</FluentLabel>
                                    </FluentButton>
                                </div>
                            }
                        </FluentDataGridCell>
                    </FluentDataGridRow>
                }
            </FluentDataGrid> 
        }

        <hr />
        <FluentStack Orientation="Orientation.Horizontal">
            <FluentLabel Typo="Typography.Header">Review element mappings:</FluentLabel>
            <FluentButton IconStart="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Checkmark())" Appearance="Appearance.Outline" Title="Mark displayed mappings as reviewed" OnClick="@(() => MarkReviewed())">
                Mark Reviewed
            </FluentButton>
        </FluentStack>

        <FluentDataGrid Items="@elementGraphProjection"
        ResizableColumns="true"
        GridTemplateColumns="@GetMappingTableColumns()"
        MultiLine="true"
        ShowHover="true"
        class="alternating-grid">
            @for (int i = 0; i < _packages.Count; i++)
            {
                int packageIndex = i;

                <TemplateColumn Sortable="true"
                SortBy="@_elementSorters[packageIndex]"
                Title="@(_selectedSdRow?.CellAt(packageIndex)?.Sd.Name)"
                HeaderTooltip="@(_selectedSdRow?.CellAt(packageIndex)?.Sd.UiDisplayLong)"
                TooltipText="@(c => c[packageIndex]?.Element.UiDisplayLong ?? $"Add mapping to {_packages[packageIndex].ShortName}:{_selectedSdRow?.CellAt(packageIndex)?.Sd.Name}")"
                Tooltip="true">
                    @{
                        if (context[packageIndex] == null)
                        {
                            (bool neighborDown, bool neighborUp) = context.HasNeigbors(packageIndex);
                            if (neighborDown)
                            {
                                <FluentButton OnClick="@(() => ShowElementMappingDialog(context.RowId, packageIndex - 1, packageIndex))">Add mapping to @_packages[packageIndex].ShortName</FluentButton>
                            }

                            if (neighborDown && neighborUp)
                            {
                                <br/>
                            }

                            if (neighborUp)
                            {
                                <FluentButton OnClick="@(() => ShowElementMappingDialog(context.RowId, packageIndex + 1, packageIndex))">Add mapping to @_packages[packageIndex].ShortName</FluentButton>
                            }
                        }
                        else
                        {
                            string[] components = context[packageIndex]!.Element.Id.Split('.') ?? [];
                            int lastComponentIndex = components.Length - 1;
                            foreach ((string component, int componentIndex) in components.Select((value, idx) => (value, idx)))
                            {
                                Appearance ba = componentIndex == lastComponentIndex ? Appearance.Accent : Appearance.Neutral;
                                if (componentIndex == 0)
                                {
                                    if (lastComponentIndex == 0)
                                    {
                                        <FluentBadge Appearance="@ba">@component</FluentBadge>
                                    }
                                }
                                else
                                {
                                    <br />
                                    <FluentBadge Appearance="Appearance.Lightweight">.</FluentBadge>
                                    <FluentBadge Appearance="@ba">@component</FluentBadge>
                                }
                            }
                        }
                    }
                </TemplateColumn>

                @if (packageIndex < _lastPackageIndex)
                {
                    <TemplateColumn Title="@(GetComparisonColName(packageIndex))" HeaderTooltip="@(GetComparisonColName(packageIndex))" TGridItem="DbGraphSd.DbElementRow">
                        @{
                            DbGraphSd.DbElementCell? cell = context[packageIndex];
                            // int cellIndex = packageIndex;
                            // DbElementComparison? toRight = context[packageIndex]?.RightComparison;
                            // DbElementComparison? fromRight = packageIndex < _packages.Count - 1 ? context[packageIndex + 1]?.LeftComparison : null;
                        }
                        @if ((cell == null) || (cell.RightCell == null))
                        {
                            @* <FluentBadge Fill="highlight" BackgroundColor="red" Color="white">ELSE</FluentBadge> *@
                            @* <FluentButton>Add</FluentButton> *@
                        }
                        else
                        {
                            <FluentStack Orientation="Orientation.Vertical" Class="@(ClassForCell(cell.BidirectionalRight()))">
                                @if (cell.BidirectionalRight() == BidirectionalRelationshipCodes.Mismatched)
                                {
                                    <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                                        <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size20.Warning())" />
                                        <FluentLabel Typo="Typography.Body"><code>MISMATCHED</code></FluentLabel>
                                        <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size20.Warning())" />
                                    </FluentStack>
                                }
                                else
                                {
                                    <FluentLabel Typo="Typography.Body"><code>@(cell.BidirectionalRight()?.ToString() ?? string.Empty)</code></FluentLabel>
                                }

                                <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                                    <FluentIcon id="@($"fr-{context.RowId}-{packageIndex}-message")"
                                    Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size20.ArrowCircleLeft())"
                                    Title="@(cell.FromRightMessage())" />

                                    @if (cell.RightCell?.LeftComparison?.LastReviewedOn == null)
                                    {
                                        <FluentIcon Title="Unreviewed" Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Question())" />
                                    }
                                    else
                                    {
                                        <FluentIcon Title="@($"Reviewed by: {cell.RightCell!.LeftComparison!.LastReviewedBy} on {GetDateDisplay(cell.RightCell!.LeftComparison!.LastReviewedOn)}")"
                                        Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Checkmark())" />
                                    }

                                    <FluentButton OnClick="@(() => ShowElementMappingDialog(context.RowId, packageIndex, packageIndex + 1))">Edit</FluentButton>

                                    @if (cell.RightComparison?.LastReviewedOn == null)
                                    {
                                        <FluentIcon Title="Unreviewed" Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Question())" />
                                    }
                                    else
                                    {
                                        <FluentIcon Title="@($"Reviewed by: {cell.RightComparison!.LastReviewedBy} on {GetDateDisplay(cell.RightComparison!.LastReviewedOn)}")"
                                        Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Checkmark())" />
                                    }

                                    <FluentIcon id="@($"tr-{context.RowId}-{packageIndex}-message")"
                                    Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size20.ArrowCircleRight())"
                                    Title="@(cell.ToRightMessage())" />
                                </FluentStack>

                                @if ((cell.RightCell?.LeftVsComparison != null) || (cell.RightVsComparison != null))
                                {
                                    <FluentStack Orientation="Orientation.Horizontal">
                                        @if ((cell.RightCell?.BoundValueSet != null) && (cell.RightCell?.LeftVsComparison != null))
                                        {
                                            <FluentAnchor Appearance="Appearance.Hypertext" Href="@($"valuesetmapping/{cell.RightCell.BoundValueSet.FhirPackageKey}/{cell.RightCell.BoundValueSet.Key}/?packageShort={_packages[packageIndex+1].ShortName}&vsName={cell.RightCell.BoundValueSet.Name}")">
                                                <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.ArrowCircleLeft())" />
                                            </FluentAnchor>

                                            <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Info())" Title="@cell.RightCell.LeftVsComparison.TechnicalMessage" />
                                        }

                                        <FluentLabel Typo="Typography.Body">|</FluentLabel>

                                        @if ((cell.BoundValueSet != null) && (cell.RightVsComparison != null))
                                        {
                                            <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Info())" Title="@cell.RightVsComparison.TechnicalMessage" />

                                            <FluentAnchor Appearance="Appearance.Hypertext" Href="@($"valuesetmapping/{cell.BoundValueSet.FhirPackageKey}/{cell.BoundValueSet.Key}/?packageShort={_packages[packageIndex].ShortName}&vsName={cell.BoundValueSet.Name}")">
                                                <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.ArrowCircleRight())" />
                                            </FluentAnchor>
                                        }

                                    </FluentStack>
                                }

                            </FluentStack>

                            @*                             <FluentCombobox Items="@_bidirectionalRelationships"
                                Name="@($"{context.RowNumber}-{packageIndex}-r-combo")"
                                Width="200px"
                                Height="700px"
                                Placeholder="Search for a relationship..."
                                OptionValue="@(i => i.Value.ToString() ?? string.Empty)"
                                OptionText="@(i => i.Text)"
                                Value="@(cell.BidirectionalRight?.ToString() ?? string.Empty)"
                                Multiple="false"
                                Autocomplete="ComboboxAutocomplete.Inline"
                                Autofocus="true"
                                Open="true"
                                SelectedOptionChanged="@(EventCallback.Factory.Create<Option<BidirectionalRelationshipCodes>>(this, (value) => ElementRelationshipChanged(context, cell, value)))" />
                            <br/>
 *@
                        }
                    </TemplateColumn>
                }
            }
        </FluentDataGrid>

    }
</FluentStack>


<FluentDialog @ref="structureSelectionDialog"
Modal="true"
Hidden="@(visibleDialog != VisibleDialogCodes.StructureSelection)"
Class="sd-dialog-container">
    <FluentDialogHeader Visible="true">@structureDialogTitle</FluentDialogHeader>
    <FluentDialogBody>
        <FluentStack Orientation="Orientation.Vertical" VerticalGap="8" Width="100%">
            <FluentTextField @bind-Value="structureSearchText" Placeholder="Type to filter structures..." @oninput="FilterStructures" />
            <div style="height: 400px; overflow-y: auto; margin-bottom: 16px;">
                <FluentDataGrid Items="@filteredStructures"
                ResizableColumns="true"
                GridTemplateColumns="80px 1fr 2fr"
                TGridItem="DbStructureDefinition">
                    <SelectColumn TGridItem="DbStructureDefinition"
                    SelectMode="DataGridSelectMode.Single"
                    SelectFromEntireRow="true"
                    @bind-SelectedItems="@selectedStructures" />
                    <PropertyColumn Title="Name" Property="@(sd => sd.Name)" Sortable="true" Tooltip="true" IsDefaultSortColumn="true" TooltipText="@(sd => sd.UiDisplayLong)" />
                    <PropertyColumn Title="Title" Property="@(sd => sd.Title)" Sortable="true" Tooltip="true" TooltipText="@(sd => sd.Title)"/>
                </FluentDataGrid>
            </div>

            @if (selectedStructure != null)
            {
                <FluentCard>
                    <FluentStack Orientation="Orientation.Vertical" VerticalGap="4">
                        <FluentLabel Typo="Typography.H6">Selected Structure</FluentLabel>
                        <FluentLabel Typo="Typography.Body">Name: @selectedStructure.Name</FluentLabel>
                        <FluentLabel Typo="Typography.Body">URL: @selectedStructure.UnversionedUrl</FluentLabel>
                        <FluentLabel Typo="Typography.Body">Snapshot: @selectedStructure.SnapshotCount</FluentLabel>
                        <FluentLabel Typo="Typography.Body">Title: @selectedStructure.Title</FluentLabel>
                    </FluentStack>
                </FluentCard>
            }

            <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="8" HorizontalAlignment="HorizontalAlignment.End">
                <FluentButton Appearance="Appearance.Outline" OnClick="CancelStructureSelection">Cancel</FluentButton>
                <FluentButton Appearance="Appearance.Accent" OnClick="SelectStructure" Disabled="@(selectedStructure == null)">Select</FluentButton>
            </FluentStack>
        </FluentStack>
    </FluentDialogBody>
</FluentDialog>



<FluentDialog @ref="elementMappingDialog"
Modal="true"
Hidden="@(visibleDialog != VisibleDialogCodes.ElementMapping)"
Class="ed-dialog-container">
    <FluentDialogHeader Visible="true">Edit Element Mapping</FluentDialogHeader>
    <FluentDialogBody>
        <FluentStack Orientation="Orientation.Vertical" VerticalGap="8">
            <FluentStack Orientation="Orientation.Horizontal" Width="100%">
                <div class="ed-tree-view-container">
                    <FluentTreeView @ref="elementMappingTreeLeft" Items="@mappingLeftItems" SelectedItem="@mappingLeftSelected" OnSelectedChange="HandleLeftMappingSelectionChanged">
                        <ItemTemplate>
                            <code>@context.Text</code>
                        </ItemTemplate>
                    </FluentTreeView>
                </div>
                @* <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.ArrowBidirectionalLeftRight())" /> *@
                <div class="ed-tree-view-container">
                    <FluentTreeView @ref="elementMappingTreeRight" Items="@mappingRightItems" SelectedItem="@mappingRightSelected" OnSelectedChange="HandleRightMappingSelectionChanged">
                        <ItemTemplate>
                            <code>@context.Text</code>
                        </ItemTemplate>
                    </FluentTreeView>
                </div>
            </FluentStack>
            <hr/>

            <FluentLabel Typo="Typography.Body"><b>Left:</b> @_packages[mappingLeftColId].ShortName @mappingLeftSd?.Sd.Name: <code>@mappingLeftSelected?.Text</code></FluentLabel>
            @* <FluentLabel Typo="Typography.Body">Maps as <code>@mapLRRelationship?.Text</code></FluentLabel> *@
            <FluentLabel Typo="Typography.Body"><b><code>Left to Right:</code></b></FluentLabel>
            <FluentLabel Typo="Typography.Body">Overall Relationship:</FluentLabel>
            <FluentCombobox Items="@_relationships"
                TOption="Option<Hl7.Fhir.Model.ConceptMap.ConceptMapRelationship?>"
                Class="full-width"
                Placeholder="Search for a relationship..."
                OptionValue="@(i => i?.Value.ToString() ?? string.Empty)"
                OptionText="@(i => i?.Text)"
                @bind-SelectedOption="@mapLRRelationship"
                Multiple="false"
                Autocomplete="ComboboxAutocomplete.Inline"/>
            @* <FluentLabel Typo="Typography.Body">Conceptually: <code>@mapLRConceptRelationship</code></FluentLabel> *@
            <FluentLabel Typo="Typography.Body">Concept Domain Relationship:</FluentLabel>
            <FluentCombobox Items="@_relationships"
                TOption="Option<Hl7.Fhir.Model.ConceptMap.ConceptMapRelationship?>"
                Class="full-width"
                Placeholder="Search for a relationship..."
                OptionValue="@(i => i?.Value.ToString() ?? string.Empty)"
                OptionText="@(i => i?.Text)"
                @bind-SelectedOption="@mapLRConceptRelationship"
                Multiple="false"
                Autocomplete="ComboboxAutocomplete.Inline" />
            <FluentLabel Typo="Typography.Body">Mapping Message:</FluentLabel>
            <FluentTextField @bind-Value="@mapLRMessage" Class="full-width" />
            <FluentTextArea @bind-Value="@mapLRUserMessage" Class="full-width" Rows="5" />

            <FluentLabel Typo="Typography.Body"><b>Right:</b> @_packages[mappingRightColId].ShortName @mappingRightSd?.Sd.Name: <code>@mappingRightSelected?.Text</code></FluentLabel>
            @* <FluentLabel Typo="Typography.Body">Maps as <code>@mapRLRelationship</code></FluentLabel> *@
            <FluentLabel Typo="Typography.Body"><b><code>Right to Left:</code></b></FluentLabel>
            <FluentLabel Typo="Typography.Body">Overall Relationship:</FluentLabel>
            <FluentCombobox Items="@_relationships"
                TOption="Option<Hl7.Fhir.Model.ConceptMap.ConceptMapRelationship?>"
                Class="full-width"
                Placeholder="Search for a relationship..."
                OptionValue="@(i => i?.Value.ToString() ?? string.Empty)"
                OptionText="@(i => i?.Text)"
                @bind-SelectedOption="@mapRLRelationship"
                Multiple="false"
                Autocomplete="ComboboxAutocomplete.Inline" />
            @* <FluentLabel Typo="Typography.Body">Conceptually: <code>@mapRLConceptRelationship</code></FluentLabel> *@
            <FluentLabel Typo="Typography.Body">Concept Domain Relationship:</FluentLabel>
            <FluentCombobox Items="@_relationships"
                TOption="Option<Hl7.Fhir.Model.ConceptMap.ConceptMapRelationship?>"
                Class="full-width"
                Placeholder="Search for a relationship..."
                OptionValue="@(i => i?.Value.ToString() ?? string.Empty)"
                OptionText="@(i => i?.Text)"
                @bind-SelectedOption="@mapRLConceptRelationship"
                Multiple="false"
                Autocomplete="ComboboxAutocomplete.Inline" />
            <FluentLabel Typo="Typography.Body">Mapping Message:</FluentLabel>
            <FluentTextField @bind-Value="@mapRLMessage" Class="full-width" />
            <FluentTextArea @bind-Value="@mapRLUserMessage" Class="full-width" Rows="5" />

            <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="8" HorizontalAlignment="HorizontalAlignment.Stretch">
                <FluentButton BackgroundColor="var(--error)" Color="#ffffff" IconStart="@(new Icons.Regular.Size16.Delete())" OnClick="DeleteElementMapping">Delete</FluentButton>
                <FluentSpacer />
                <FluentButton Appearance="Appearance.Outline" IconStart="@(new Icons.Regular.Size16.Prohibited())" OnClick="CancelElementSelection">Cancel</FluentButton>
                <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size16.Save())" OnClick="UpdateElementMapping">Update</FluentButton>
            </FluentStack>
        </FluentStack>
    </FluentDialogBody>
</FluentDialog>



@code {
    private enum VisibleDialogCodes
    {
        None,
        StructureSelection,
        ElementMapping,
        Confirmation,
    }

    [Parameter]
    public int FhirPackageKey { get; set; }

    [Parameter]
    public int StructureKey { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "packageShort")]
    public string PackageShortName { get; set; } = string.Empty;

    [Parameter]
    [SupplyParameterFromQuery(Name = "sdName")]
    public string StructureName { get; set; } = string.Empty;

    [CascadingParameter]
    public INavTracker? NavTracker { get; set; } = null;

    private NavPageInfoRec[] _navPages => new NavPageInfoRec[]
    {
        new() { Display = $"{PackageShortName}: Structures", Link = $"/structures/{FhirPackageKey}?packageShort={PackageShortName}" },
        new() { Display = StructureName, Link = $"/structuremapping/{FhirPackageKey}/{StructureKey}/?packageShort={PackageShortName}&sdName={StructureName}" },
    };

    private Guid _selectedSdRowId = Guid.Empty;
    private DbGraphSd.DbSdRow? _selectedSdRow = null;

    private GridSort<DbGraphSd.DbElementRow>[] _elementSorters = [
        GridSort<DbGraphSd.DbElementRow>.ByAscending(r => r[0] == null ? int.MaxValue : r[0]!.Element.ResourceFieldOrder),
        GridSort<DbGraphSd.DbElementRow>.ByAscending(r => r[1] == null ? int.MaxValue : r[1]!.Element.ResourceFieldOrder),
        GridSort<DbGraphSd.DbElementRow>.ByAscending(r => r[2] == null ? int.MaxValue : r[2]!.Element.ResourceFieldOrder),
        GridSort<DbGraphSd.DbElementRow>.ByAscending(r => r[3] == null ? int.MaxValue : r[3]!.Element.ResourceFieldOrder),
        GridSort<DbGraphSd.DbElementRow>.ByAscending(r => r[4] == null ? int.MaxValue : r[4]!.Element.ResourceFieldOrder),
        GridSort<DbGraphSd.DbElementRow>.ByAscending(r => r[5] == null ? int.MaxValue : r[5]!.Element.ResourceFieldOrder),
        GridSort<DbGraphSd.DbElementRow>.ByAscending(r => r[6] == null ? int.MaxValue : r[6]!.Element.ResourceFieldOrder),
    ];

    private int _loadedStructureKey = -1;
    private SdRecForUi? sdUiRec = null;
    private List<DbFhirPackage> _packages = [];
    private int _lastPackageIndex = -1;
    private IQueryable<DbGraphSd.DbSdRow>? sdGraphProjection = null;
    private List<DbGraphSd.DbElementRow> initialElementProjection = [];
    private IQueryable<DbGraphSd.DbElementRow>? elementGraphProjection = null;

    private Option<BidirectionalRelationshipCodes>[] _bidirectionalRelationships = [
        new() { Text = "None", Value = BidirectionalRelationshipCodes.None },
        new() { Text = "Equivalent", Value = BidirectionalRelationshipCodes.Equivalent },
        new() { Text = "Newer Narrows", Value = BidirectionalRelationshipCodes.NewerNarrows },
        new() { Text = "Newer Broadens", Value = BidirectionalRelationshipCodes.NewerBroadens },
        new() { Text = "Related", Value = BidirectionalRelationshipCodes.Related },
        new() { Text = "NOT Related", Value = BidirectionalRelationshipCodes.NotRelated },
        new()
        {
            Text = "Mismatched",
            Value = BidirectionalRelationshipCodes.Mismatched,
            // Icon = (new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size20.Warning(), null, "start"),
        },
    ];
    protected override void OnInitialized()
    {
        base.OnInitialized();
        NavTracker?.NotifyNav(_navPages);
        LoadStructure();
    }

    protected override void OnParametersSet()
    {
        if (StructureKey != _loadedStructureKey)
        {
            NavTracker?.NotifyNav(_navPages);
        }

        base.OnParametersSet();
        LoadStructure();
    }

    private string ClassForCell(BidirectionalRelationshipCodes? relationship) => relationship switch
    {
        BidirectionalRelationshipCodes.Mismatched => "relation-mismatched",
        BidirectionalRelationshipCodes.None => "relation-none",
        BidirectionalRelationshipCodes.Equivalent => "relation-equivalent",
        BidirectionalRelationshipCodes.NewerNarrows => "relation-newer-narrows",
        BidirectionalRelationshipCodes.NewerBroadens => "relation-newer-broadens",
        BidirectionalRelationshipCodes.Related => "relation-related",
        BidirectionalRelationshipCodes.NotRelated => "relation-not-related",
        _ => string.Empty,
    };

    private string GetComparisonColName(int index) => _packages[index].ShortName + "-" + _packages[index + 1].ShortName;

    private void ElementRelationshipChanged(DbGraphSd.DbElementRow elementRow, DbGraphSd.DbElementCell? cell, object? value)
    {
        if (value is Option<BidirectionalRelationshipCodes> opt)
        {
            Console.Write("");
        }
    }

    private void StructureMappingRowSelected(DbGraphSd.DbSdRow r, bool selected)
    {
        if (selected == true)
        {
            // _selectedSdRowId = r.RowId;
            LoadMappingRow(r);
            StateHasChanged();
        }
    }

    private string GetMappingTableColumns(bool addSelectionCol = false)
    {
        // Calculate the columns - we need one for each package plus comparison columns between them
        int packageCount = _packages.Count;
        int comparisonCount = packageCount - 1; // One less comparison column than packages

        // Build column template: package (1fr) + comparison (0.8fr) + package (1fr) + ...
        List<string> cols = [];

        if (addSelectionCol)
        {
            cols.Add("60 px");
        }

        for (int i = 0; i < packageCount; i++)
        {
            cols.Add("1fr"); // Package column

            if (i < comparisonCount)
            {
                cols.Add("0.8fr"); // Comparison column
            }
        }

        return string.Join(' ', cols);
    }


    // Track open state of popovers
    private Dictionary<string, bool> _popoverStates = new();

    private bool IsPopoverOpen(string key)
    {
        return _popoverStates.TryGetValue(key, out bool value) && value;
    }

    private void SetPopoverState(string key, bool value)
    {
        _popoverStates[key] = value;
        StateHasChanged();
    }

    private void TogglePopover(string key)
    {
        if (!_popoverStates.TryGetValue(key, out bool currentValue))
        {
            currentValue = false;
        }
        _popoverStates[key] = !currentValue;
        StateHasChanged();
    }

    private FluentDialog? elementMappingDialog;
    private FluentTreeView? elementMappingTreeLeft;
    private FluentTreeView? elementMappingTreeRight;
    private List<ITreeViewItem> mappingLeftItems = [];
    private List<ITreeViewItem> mappingRightItems = [];
    private DbGraphSd.DbElementRow? _focusElementRow = null;
    private int mappingLeftColId = 0;
    private int mappingRightColId = 0;
    private DbGraphSd.DbSdCell? mappingLeftSd = null;
    private DbGraphSd.DbSdCell? mappingRightSd = null;
    private DbElementComparison? mapLRComparison = null;
    private DbElementComparison? mapRLComparison = null;
    private ITreeViewItem? mappingLeftSelected = null;
    private ITreeViewItem? mappingRightSelected = null;
    private Option<Hl7.Fhir.Model.ConceptMap.ConceptMapRelationship?>? mapLRRelationship = null;
    private Option<Hl7.Fhir.Model.ConceptMap.ConceptMapRelationship?>? mapLRConceptRelationship = null;
    private string? mapLRMessage = null;
    private string? mapLRUserMessage = null;
    private Option<Hl7.Fhir.Model.ConceptMap.ConceptMapRelationship?>? mapRLRelationship = null;
    private Option<Hl7.Fhir.Model.ConceptMap.ConceptMapRelationship?>? mapRLConceptRelationship = null;
    private string? mapRLMessage = null;
    private string? mapRLUserMessage = null;

    private Option<Hl7.Fhir.Model.ConceptMap.ConceptMapRelationship?>[] _relationships = [
        new() { Text = "- No Relationship -", Value = null },
        new() { Text = "Equivalent", Value = Hl7.Fhir.Model.ConceptMap.ConceptMapRelationship.Equivalent },
        new() { Text = "Source is Narrower", Value = Hl7.Fhir.Model.ConceptMap.ConceptMapRelationship.SourceIsNarrowerThanTarget },
        new() { Text = "Source is Broader", Value = Hl7.Fhir.Model.ConceptMap.ConceptMapRelationship.SourceIsBroaderThanTarget },
        new() { Text = "Related To", Value = Hl7.Fhir.Model.ConceptMap.ConceptMapRelationship.RelatedTo },
        new() { Text = "NOT related To", Value = Hl7.Fhir.Model.ConceptMap.ConceptMapRelationship.NotRelatedTo },
    ];

    private void ShowElementMappingDialog(Guid conceptRowId, int sourceCol, int targetCol)
    {
        if ((_selectedSdRow == null) ||
            (_selectedSdRow[sourceCol] == null) ||
            (_selectedSdRow[targetCol] == null))
        {
            ClearElementSelection();
            return;
        }

        // resolve the element row
        _focusElementRow = initialElementProjection.FirstOrDefault(r => r.RowId == conceptRowId);

        if (_focusElementRow == null)
        {
            ClearElementSelection();
            return;
        }

        // build our element trees
        BuildElementTrees(_focusElementRow, sourceCol, targetCol);

        // // Set dialog title based on direction
        // elementDialogTitle = $"Select target for {_packages[sourceCol].ShortName}:{_focusElementRow[sourceCol]!.Element.Id}" +
        //     $" to FHIR {_packages[targetCol].ShortName}:{_selectedSdRow[targetCol]!.Sd.Name}";

        // // Reset selection
        // selectedStructures = [];
        // structureSearchText = "";

        // // Load structures for the target package
        // LoadStructuresForPackage(targetCol);

        // Show dialog
        visibleDialog = VisibleDialogCodes.ElementMapping;
    }

    private void BuildElementTrees(DbGraphSd.DbElementRow focusRow, int sourceCol, int targetCol)
    {
        mappingLeftSelected = null;
        mappingRightSelected = null;

        if ((_selectedSdRow == null) ||
            (_selectedSdRow[sourceCol] == null) ||
            (_selectedSdRow[targetCol] == null))
        {
            ClearElementSelection();

            return;
        }

        bool isLeftToRight = sourceCol < targetCol;

        mappingLeftColId = isLeftToRight ? sourceCol: targetCol;
        mappingRightColId = isLeftToRight ? targetCol : sourceCol;

        mappingLeftSd = _selectedSdRow[mappingLeftColId];
        mapLRComparison = isLeftToRight ? focusRow[mappingLeftColId]?.RightComparison : focusRow[mappingRightColId]?.LeftComparison;
        mappingRightSd = _selectedSdRow[mappingRightColId];
        mapRLComparison = isLeftToRight ? focusRow[mappingRightColId]?.LeftComparison : focusRow[mappingLeftColId]?.RightComparison;

        (mappingLeftItems, mappingLeftSelected) = BuildTreeItemsForSd(mappingLeftSd!, focusRow[mappingLeftColId]?.Element, mappingLeftColId);
        (mappingRightItems, mappingRightSelected) = BuildTreeItemsForSd(mappingRightSd!, focusRow[mappingRightColId]?.Element, mappingRightColId);

        mapLRRelationship = mapLRComparison?.Relationship == null
            ? null
            : _relationships.FirstOrDefault(ro => ro.Value == mapLRComparison.Relationship);
        mapLRConceptRelationship = mapLRComparison?.ConceptDomainRelationship == null
            ? null
            : _relationships.FirstOrDefault(ro => ro.Value == mapLRComparison.ConceptDomainRelationship);
        mapLRMessage = mapLRComparison?.TechnicalMessage;
        mapLRUserMessage = mapLRComparison?.UserMessage;

        mapRLRelationship = mapRLComparison?.Relationship == null
            ? null
            : _relationships.FirstOrDefault(ro => ro.Value == mapRLComparison.Relationship);
        mapRLConceptRelationship = mapRLComparison?.ConceptDomainRelationship == null
            ? null
            : _relationships.FirstOrDefault(ro => ro.Value == mapRLComparison.ConceptDomainRelationship);
        mapRLMessage = mapRLComparison?.TechnicalMessage;
        mapRLUserMessage = mapRLComparison?.UserMessage;
    }

    private Icon IconFolderCollapsed = new Icons.Regular.Size20.Folder();
    private Icon IconFolderExpanded = new Icons.Regular.Size20.FolderOpen();
    private Icon IconElement = new Icons.Regular.Size20.CodeBlock();
    private Icon IconNoMap = new Icons.Regular.Size20.Prohibited();

    private (List<ITreeViewItem> items, ITreeViewItem? selectedItem) BuildTreeItemsForSd(DbGraphSd.DbSdCell sdCell, DbElement? selectedElement, int packageIndex)
    {
        if (sdCell.Elements.Count == 0)
        {
            return ([], null);
        }

        ILookup<int, DbElement> elementsByKey = sdCell.Elements.ToLookup(e => e.Key);
        ILookup<int, DbElement> elementsByParent = sdCell.Elements.ToLookup(e => e.ParentElementKey ?? -1);
        Dictionary<string, TreeViewItem> itemsById = [];

        ITreeViewItem? selectedItem = null;
        List<TreeViewItem> rootItems = [];

        // add a 'remove mapping' root
        rootItems.Add(new TreeViewItem
            {
                Id = string.Empty,
                Text = "No Map",
                Items = new List<TreeViewItem>(),
                Expanded = true,
                IconCollapsed = IconNoMap,
                IconExpanded = IconNoMap,
            });

        if (selectedElement == null)
        {
            selectedItem = rootItems[0];
        }

        foreach (DbElement element in sdCell.Elements.OrderBy(e => e.ResourceFieldOrder))
        {
            // this is the root
            if (element.ParentElementKey == null)
            {
                TreeViewItem item = new()
                {
                    Id = element.Id,
                    Text = _packages[packageIndex].ShortName + ": " + element.UiDisplayLong,
                    Items = new List<TreeViewItem>(),
                    Expanded = true,
                    IconCollapsed = IconFolderCollapsed,
                    IconExpanded = IconFolderExpanded,
                };
                itemsById[element.Id] = item;
                rootItems.Add(item);

                if (element.Id == selectedElement?.Id)
                {
                    selectedItem = item;
                }

                continue;
            }

            // resolve the parent element
            DbElement parentElement = elementsByKey[(int)element.ParentElementKey].First();
            if (!itemsById.TryGetValue(parentElement.Id, out TreeViewItem? parentItem))
            {
                parentItem = new TreeViewItem
                {
                    Id = parentElement.Id,
                    Text = parentElement.UiDisplayLong,
                    Items = new List<TreeViewItem>(),
                    Expanded = true,
                    IconCollapsed = parentElement.ChildElementCount == 0 ? IconElement : IconFolderCollapsed,
                    IconExpanded = parentElement.ChildElementCount == 0 ? IconElement : IconFolderExpanded,
                };
                itemsById[parentElement.Id] = parentItem;
            }

            TreeViewItem currentItem = new TreeViewItem
            {
                Id = element.Id,
                Text = element.UiDisplayLong,
                Items = new List<TreeViewItem>(),
                Expanded = true,
                IconCollapsed = element.ChildElementCount == 0 ? IconElement : IconFolderCollapsed,
                IconExpanded = element.ChildElementCount == 0 ? IconElement : IconFolderExpanded,
            };

            itemsById[element.Id] = currentItem;
            if ((selectedElement != null) &&
                (selectedElement.Id == element.Id))
            {
                selectedItem = currentItem;
            }

            if (parentItem.Items is null)
            {
                parentItem.Items = new List<TreeViewItem>
                {
                    currentItem,
                };
            }
            else if (parentItem.Items is List<TreeViewItem> childItems)
            {
                childItems.Add(currentItem);
            }
            else
            {
                currentItem.Items = [.. parentItem.Items, currentItem];
            }
        }

        return (rootItems.ToList<ITreeViewItem>(), selectedItem);
    }

    private void HandleLeftMappingSelectionChanged(FluentTreeItem item)
    {
        HandleMappingElementSelectionChanged(item, isLeft: true);
    }

    private void HandleRightMappingSelectionChanged(FluentTreeItem item)
    {
        HandleMappingElementSelectionChanged(item, isLeft: false);
    }

    private void HandleMappingElementSelectionChanged(FluentTreeItem item, bool isLeft)
    {
        if ((item == null) || (item.Id == null))
        {
            return;
        }

        string id = item.Id;

        foreach (ITreeViewItem tvItem in isLeft ? mappingLeftItems : mappingRightItems)
        {
            ITreeViewItem? foundItem = findItem(tvItem, id);
            if (foundItem != null)
            {
                if (isLeft)
                {
                    mappingLeftSelected = foundItem;
                }
                else
                {
                    mappingRightSelected = foundItem;
                }
                break;
            }
        }

        StateHasChanged();

        return;

        ITreeViewItem? findItem(ITreeViewItem currentItem, string id)
        {
            if (currentItem.Id == id)
            {
                return currentItem;
            }

            if ((!id.StartsWith(currentItem.Id)) ||
                (currentItem.Items == null))
            {
                return null;
            }

            foreach (ITreeViewItem childItem in currentItem.Items)
            {
                ITreeViewItem? foundItem = findItem(childItem, id);
                if (foundItem != null)
                {
                    return foundItem;
                }
            }

            return null;
        }
    }

    private void CancelElementSelection()
    {
        ClearElementSelection();
    }

    private void ClearElementSelection()
    {
        mappingLeftColId = 0;
        mappingLeftSd = null;
        mappingLeftItems = [];
        mapLRRelationship = null;
        mapLRConceptRelationship = null;
        mapLRMessage = null;
        mapLRUserMessage = null;

        mappingRightColId = 0;
        mappingRightSd = null;
        mappingRightItems = [];
        mapRLRelationship = null;
        mapRLConceptRelationship = null;
        mapRLMessage = null;
        mapRLUserMessage = null;

        // valueSetSelectionDialog!.Hide();
        visibleDialog = VisibleDialogCodes.None;
    }

    private async Task DeleteElementMapping()
    {
        if ((mapLRComparison == null) &&
            (mapRLComparison == null))
        {
            ClearElementSelection();
        }

        // need to hide the dialog because these all use the same dialog service
        visibleDialog = VisibleDialogCodes.Confirmation;

        IDialogReference dialog = await DialogService.ShowConfirmationAsync(
            $"This will delete the comparison records between:<br/>" +
                $"<code>{mappingLeftSelected?.Text}</code><br/>" +
                $" - and -<br/>" +
                $"<code>{mappingRightSelected?.Text}</code>",
            "Confirm Delete",
            "Cancel",
            "Element Mapping");
        DialogResult result = await dialog.Result;

        if (result.Cancelled == true)
        {
            // go back to mapping window
            visibleDialog = VisibleDialogCodes.ElementMapping;
            return;
        }

        try
        {
            mapLRComparison?.Delete(Xver.ComparisonDb.DbConnection);
        }
        catch { }

        try
        {
            mapRLComparison?.Delete(Xver.ComparisonDb.DbConnection);
        }
        catch { }

        // force a reload of the content to get updated mappings
        if (_selectedSdRow != null)
        {
            LoadMappingRow(_selectedSdRow);
        }

        ClearElementSelection();
    }

    private void UpdateElementMapping()
    {
        if ((_focusElementRow == null) ||
            (_selectedSdRow == null) ||
            (_selectedSdRow[mappingLeftColId] == null) ||
            (_selectedSdRow[mappingRightColId] == null))
        {
            ClearElementSelection();
            return;
        }

        // resolve the selected tree items
        DbElement? leftTreeElement = (mappingLeftSelected == null) || string.IsNullOrEmpty(mappingLeftSelected.Id)
            ? null
            : _selectedSdRow[mappingLeftColId]!.Elements.FirstOrDefault(e => e.Id == mappingLeftSelected.Id);

        DbElement? rightTreeElement = (mappingRightSelected == null) || string.IsNullOrEmpty(mappingRightSelected.Id)
            ? null
            : _selectedSdRow[mappingRightColId]!.Elements.FirstOrDefault(e => e.Id == mappingRightSelected.Id);

        bool isLeftToRight = mappingLeftColId < mappingRightColId;

        bool addingLR = false;
        bool deletingLR = false;
        bool addingRL = false;
        bool deletingRL = false;

        // check if there is no left element selected
        if (leftTreeElement == null)
        {
            // check if we need to delete the Left to Right comparison record
            deletingLR = mapLRComparison != null;
        }
        else
        {
            // check if we need to create the Left to Right comparison record
            if (mapLRComparison == null)
            {
                mapLRComparison = DbElementComparison.EmptyCopy;
                mapLRComparison.Key = Xver.ComparisonDb.GetElementComparisonKey();
                addingLR = true;
            }

            mapLRComparison.PackageComparisonKey = _selectedSdRow[mappingLeftColId]!.RightComparison!.PackageComparisonKey;
            mapLRComparison.StructureComparisonKey = _selectedSdRow[mappingLeftColId]!.RightComparison!.Key;
            mapLRComparison.SourceFhirPackageKey = _selectedSdRow[mappingLeftColId]!.Sd.FhirPackageKey;
            mapLRComparison.SourceStructureKey = _selectedSdRow[mappingLeftColId]!.Sd.Key;
            mapLRComparison.SourceStructureUrl = _selectedSdRow[mappingLeftColId]!.Sd.UnversionedUrl;
            mapLRComparison.TargetFhirPackageKey = _selectedSdRow[mappingRightColId]!.Sd.FhirPackageKey;
            mapLRComparison.TargetStructureKey = _selectedSdRow[mappingRightColId]!.Sd.Key;
            mapLRComparison.TargetStructureUrl = _selectedSdRow[mappingRightColId]!.Sd.UnversionedUrl;
            mapLRComparison.SourceElementKey = leftTreeElement.Key;
            mapLRComparison.SourceElementToken = leftTreeElement.Id;
            mapLRComparison.TargetElementKey = rightTreeElement?.Key;
            mapLRComparison.TargetElementToken = rightTreeElement?.Id;
            mapLRComparison.Relationship = deletingRL ? null : mapLRRelationship?.Value;
            mapLRComparison.ConceptDomainRelationship = deletingRL ? null : mapLRConceptRelationship?.Value;
            // mapLRComparison.ValueDomainRelationship = null;
            mapLRComparison.TechnicalMessage = mapLRMessage;
            mapLRComparison.UserMessage = mapLRUserMessage;
            mapLRComparison.NoMap = deletingRL ? true : null;
            mapLRComparison.IsGenerated = false;

            // if the comparison has changed, we cannot rely on the existing comparison information
            if (mapLRComparison.Key != _focusElementRow[mappingLeftColId]?.RightComparison?.Key)
            {
                mapLRComparison.IsIdentical = null;
                mapLRComparison.ElementTypeComparisonKey = null;
                mapLRComparison.BoundValueSetComparisonKey = null;
            }
        }

        // check if there is no right element selected
        if (rightTreeElement == null)
        {
            // check if we need to delete the Right to Left comparison record
            deletingRL = mapRLComparison != null;
        }
        else
        { 
            if (mapRLComparison == null)
            {
                mapRLComparison = DbElementComparison.EmptyCopy;
                mapRLComparison.Key = Xver.ComparisonDb.GetElementComparisonKey();
                addingRL = true;
            }

            mapRLComparison.PackageComparisonKey = _selectedSdRow[mappingRightColId]!.LeftComparison!.PackageComparisonKey;
            mapRLComparison.StructureComparisonKey = _selectedSdRow[mappingRightColId]!.LeftComparison!.Key;
            mapRLComparison.SourceFhirPackageKey = _selectedSdRow[mappingRightColId]!.Sd.FhirPackageKey;
            mapRLComparison.SourceStructureKey = _selectedSdRow[mappingRightColId]!.Sd.Key;
            mapRLComparison.SourceStructureUrl = _selectedSdRow[mappingRightColId]!.Sd.UnversionedUrl;
            mapRLComparison.TargetFhirPackageKey = _selectedSdRow[mappingLeftColId]!.Sd.FhirPackageKey;
            mapRLComparison.TargetStructureKey = _selectedSdRow[mappingLeftColId]!.Sd.Key;
            mapRLComparison.TargetStructureUrl = _selectedSdRow[mappingLeftColId]!.Sd.UnversionedUrl;
            mapRLComparison.SourceElementKey = rightTreeElement.Key;
            mapRLComparison.SourceElementToken = rightTreeElement.Id;
            mapRLComparison.TargetElementKey = leftTreeElement?.Key;
            mapRLComparison.TargetElementToken = leftTreeElement?.Id;
            mapRLComparison.Relationship = deletingLR ? null : mapRLRelationship?.Value;
            mapRLComparison.ConceptDomainRelationship = deletingLR ? null : mapRLConceptRelationship?.Value;
            // mapRLComparison.ValueDomainRelationship = null;
            mapRLComparison.TechnicalMessage = mapRLMessage;
            mapRLComparison.UserMessage = mapRLUserMessage;
            mapRLComparison.NoMap = deletingLR ? true : null;
            mapRLComparison.IsGenerated = false;

            // if the comparison has changed, we cannot rely on the existing comparison information
            if (mapRLComparison.Key != _focusElementRow[mappingRightColId]?.LeftComparison?.Key)
            {
                mapRLComparison.IsIdentical = null;
                mapRLComparison.ElementTypeComparisonKey = null;
                mapRLComparison.BoundValueSetComparisonKey = null;
            }
        }

        // fix inverse keys
        if (mapLRComparison != null)
        {
            mapLRComparison.InverseComparisonKey = mapRLComparison?.Key;
        }

        if (mapRLComparison != null)
        {
            mapRLComparison.InverseComparisonKey = mapLRComparison?.Key;
        }

        // update the database
        if (deletingLR)
        {
            mapLRComparison?.Delete(Xver.ComparisonDb.DbConnection);
        }
        else if (addingLR)
        {
            mapLRComparison!.Insert(Xver.ComparisonDb.DbConnection);
        }
        else
        {
            mapLRComparison!.Update(Xver.ComparisonDb.DbConnection);
        }

        if (deletingRL)
        {
            mapRLComparison?.Delete(Xver.ComparisonDb.DbConnection);
        }
        else if (addingRL)
        {
            mapRLComparison!.Insert(Xver.ComparisonDb.DbConnection);
        }
        else
        {
            mapRLComparison!.Update(Xver.ComparisonDb.DbConnection);
        }

        // force a reload of the content to get updating mappings
        LoadMappingRow(_selectedSdRow);

        // go back to the main UI
        ClearElementSelection();
    }

    private async Task MarkReviewed()
    {
        if (_selectedSdRow == null)
        {
            return;
        }

        string reviewer = ServerConfig.UserName;

        Xver.Comparer.MarkSdMappingsReviewed(
            _selectedSdRow,
            initialElementProjection,
            reviewer);

        IDialogReference dialog = await DialogService.ShowSuccessAsync(
            "All mappings for the currently selected mapping group have been marked as reviewed.");
        DialogResult result = await dialog.Result;
        _ = dialog.CloseAsync();

        // force reload of the mapping table
        LoadStructure(true);

        // move the UI back to default
        visibleDialog = VisibleDialogCodes.None;
        StateHasChanged();

        return;
    }

    private FluentDialog? structureSelectionDialog;
    private string structureDialogTitle = "Select Target Structure...";
    private string structureSearchText = "";
    private List<DbStructureDefinition> allStructures = [];
    private IQueryable<DbStructureDefinition> filteredStructures = Enumerable.Empty<DbStructureDefinition>().AsQueryable();
    private DbStructureDefinition? selectedStructure => selectedStructures.FirstOrDefault();
    private IEnumerable<DbStructureDefinition> selectedStructures = [];
    private VisibleDialogCodes visibleDialog = VisibleDialogCodes.None;

    // Dialog context data
    private int currentSourceStructureKey;
    private int currentSourcePackageIndex;
    private int currentTargetPackageIndex;

    private void ShowStructureSelectionDialog(int sourcePackageIndex, int targetPackageIndex)
    {
        if (_selectedSdRow == null)
        {
            return;
        }

        currentSourceStructureKey = _selectedSdRow[sourcePackageIndex]!.Sd.Key;
        currentSourcePackageIndex = sourcePackageIndex;
        currentTargetPackageIndex = targetPackageIndex;

        // Set dialog title based on direction
        structureDialogTitle = $"Select target for {_packages[sourcePackageIndex].ShortName}:{_selectedSdRow[sourcePackageIndex]!.Sd.Name} to FHIR {_packages[targetPackageIndex].ShortName}";

        // Reset selection
        selectedStructures = [];
        structureSearchText = "";

        // Load structures for the target package
        LoadStructuresForPackage(targetPackageIndex);

        // Show dialog
        visibleDialog = VisibleDialogCodes.StructureSelection;
    }

    // Primary action handler for the dialog
    private void SelectStructure()
    {
        if (selectedStructure != null)
        {
            // Create a similar option object as used in the original code for compatibility
            Option<DbStructureDefinition> selectedOption = new()
                {
                    Text = selectedStructure.Name + " - " + selectedStructure.UnversionedUrl,
                    Value = selectedStructure
                };

            // Call the existing AddVsMapping with our selected value
            AddSdMapping(currentSourceStructureKey, currentSourcePackageIndex, currentTargetPackageIndex, selectedOption);
        }

        // valueSetSelectionDialog!.Hide();
        visibleDialog = VisibleDialogCodes.None;
    }

    private async Task DeleteSdMapping(Guid sdRowId, int leftColIndex, int rightColIndex)
    {
        // resolve the structure mapping row
        DbGraphSd.DbSdRow? sdRow = sdGraphProjection?.FirstOrDefault(r => r.RowId == sdRowId);

        if (sdRow == null)
        {
            return;
        }

        // resolve the two sd cells
        DbGraphSd.DbSdCell? sdLeftCell = sdRow[leftColIndex];
        DbGraphSd.DbSdCell? sdRightCell = sdRow[rightColIndex];

        if ((sdLeftCell == null) || (sdRightCell == null))
        {
            return;
        }

        VisibleDialogCodes previousDialogState = visibleDialog;

        // need to hide the dialog because these all use the same dialog service
        visibleDialog = VisibleDialogCodes.Confirmation;

        IDialogReference dialog = await DialogService.ShowConfirmationAsync(
            $"This will delete ALL comparison records between:<br/>" +
                $"FHIR {_packages[leftColIndex].ShortName}:<br/><code>{sdLeftCell.Sd.UiDisplayLong}</code><br/>" +
                $" - and -<br/>" +
                $"FHIR {_packages[leftColIndex].ShortName}:<br/><code>{sdRightCell.Sd.UiDisplayLong}</code>",
            "Confirm Delete",
            "Cancel",
            "Structure Mapping");
        DialogResult result = await dialog.Result;

        // regardless of response, go back to previous screen
        visibleDialog = previousDialogState;

        if (result.Cancelled == true)
        {
            // nothing else to do
            return;
        }

        // resolve the structure comparisons
        DbStructureComparison? sdLR = sdLeftCell.RightComparison;
        DbStructureComparison? sdRL = sdRightCell.LeftComparison;

        // delete database records
        try
        {
            if (sdLR != null)
            {
                DbElementComparison.Delete(Xver.ComparisonDb.DbConnection, StructureComparisonKey: sdLR.Key);
                sdLR.Delete(Xver.ComparisonDb.DbConnection);
            }
        }
        catch { }

        try
        {
            if (sdRL != null)
            {
                DbElementComparison.Delete(Xver.ComparisonDb.DbConnection, StructureComparisonKey: sdRL.Key);
                sdRL.Delete(Xver.ComparisonDb.DbConnection);
            }
        }
        catch { }

        // need to go to main screen since we do not know what was deleted
        visibleDialog = VisibleDialogCodes.None;

        // force a reload of the content to get updated mappings
        LoadStructure(true);
    }

    private void AddSdMapping(int sourceStructureKey, int sourcePackageIndex, int targetPackageIndex, object? selectedValue)
    {
        if ((selectedValue == null) ||
            (selectedValue is not Option<DbStructureDefinition> selectedOption) ||
            (selectedOption.Value == null) ||
            (selectedOption.Value is not DbStructureDefinition targetSd))
        {
            return;
        }

        // resolve the package comparison
        DbFhirPackageComparisonPair? packagePair = DbFhirPackageComparisonPair.SelectSingle(
            Xver.DbConnection,
            SourcePackageKey: _packages[sourcePackageIndex].Key,
            TargetPackageKey: _packages[targetPackageIndex].Key);

        if (packagePair == null)
        {
            return;
        }

        DbFhirPackageComparisonPair? reversePair = DbFhirPackageComparisonPair.SelectSingle(
            Xver.DbConnection,
            SourcePackageKey: _packages[targetPackageIndex].Key,
            TargetPackageKey: _packages[sourcePackageIndex].Key);

        if (reversePair == null)
        {
            return;
        }

        // resolve the source value set
        DbStructureDefinition? sourceSd = DbStructureDefinition.SelectSingle(
            Xver.DbConnection,
            FhirPackageKey: _packages[sourcePackageIndex].Key,
            Key: sourceStructureKey);

        if (sourceSd == null)
        {
            return;
        }

        // create a new value set comparison
        DbStructureComparison sdComparison = new()
        {
            Key = Xver.ComparisonDb.GetStructureComparisonKey(),
            PackageComparisonKey = packagePair.Key,
            SourceFhirPackageKey = packagePair.SourcePackageKey,
            TargetFhirPackageKey = packagePair.TargetPackageKey,
            SourceStructureKey = sourceStructureKey,
            SourceCanonicalVersioned = sourceSd.VersionedUrl,
            SourceCanonicalUnversioned = sourceSd.UnversionedUrl,
            SourceVersion = sourceSd.Version,
            SourceName = sourceSd.Name,
            TargetStructureKey = targetSd.Key,
            TargetCanonicalVersioned = targetSd.VersionedUrl,
            TargetCanonicalUnversioned = targetSd.UnversionedUrl,
            TargetVersion = targetSd.Version,
            TargetName = targetSd.Name,
            CompositeName = ComparisonDatabase.GetCompositeName(_packages[sourcePackageIndex], sourceSd, _packages[targetPackageIndex], targetSd),
            SourceOverviewConceptMapUrl = null,
            SourceStructureFmlUrl = null,
            Relationship = null,
            ConceptDomainRelationship = null,
            ValueDomainRelationship = null,
            IsGenerated = false,
            LastReviewedOn = null,
            LastReviewedBy = null,
            TechnicalMessage = null,
            UserMessage = null,
            IsIdentical = false,
        };

        DbComparisonCache<DbStructureComparison> sdComparisons = new();
        DbComparisonCache<DbElementComparison> elementComparisons = new();
        DbComparisonCache<DbElementTypeComparison> elementTypeComparisons = new();

        sdComparisons.CacheAdd(sdComparison);

        // run through the built-in comparison testing
        Xver.Comparer.DoStructureComparison(
            sdComparisons,
            elementComparisons,
            elementTypeComparisons,
            _packages[sourcePackageIndex],
            sourceSd,
            _packages[targetPackageIndex],
            targetSd,
            sdComparison,
            packagePair,
            reversePair);

        // apply our changes
        sdComparisons.ComparisonsToAdd.Insert(Xver.DbConnection);
        sdComparisons.ComparisonsToUpdate.Update(Xver.DbConnection);
        sdComparisons.ComparisonsToDelete.Delete(Xver.DbConnection);

        elementComparisons.ComparisonsToAdd.Insert(Xver.DbConnection);
        elementComparisons.ComparisonsToUpdate.Update(Xver.DbConnection);
        elementComparisons.ComparisonsToDelete.Delete(Xver.DbConnection);

        elementTypeComparisons.ComparisonsToAdd.Insert(Xver.DbConnection);
        elementTypeComparisons.ComparisonsToUpdate.Update(Xver.DbConnection);
        elementTypeComparisons.ComparisonsToDelete.Delete(Xver.DbConnection);

        // force reload of our UI contents
        LoadStructure(true);
    }

    private void UpdateSdRelationship(Guid sdRowId, int leftColIndex, int rightColIndex, object? selectedValue)
    {
        string popKey = $"er-{sdRowId}-{leftColIndex}";

        DbGraphSd.DbSdRow? sdRow = sdGraphProjection?.FirstOrDefault(r => r.RowId == sdRowId);

        if (sdRow == null)
        {
            // Close the popover after selection
            SetPopoverState(popKey, false);
            StateHasChanged();

            return;
        }

        if ((selectedValue == null) ||
            (selectedValue is not Option<BidirectionalRelationshipCodes> brOpt))
        {
            SetPopoverState(popKey, false);
            StateHasChanged();
            return;
        }

        // resolve the left and right vs cells
        DbGraphSd.DbSdCell? sdLeftCell = sdRow[leftColIndex];
        DbGraphSd.DbSdCell? sdRightCell = sdRow[rightColIndex];

        if ((sdLeftCell == null) || (sdRightCell == null))
        {
            // Close the popover after selection
            SetPopoverState(popKey, false);
            StateHasChanged();
            return;
        }

        // resolve the value set comparisons
        DbStructureComparison? sdLR = sdLeftCell.RightComparison;
        DbStructureComparison? sdRL = sdRightCell.LeftComparison;

        if ((sdLR == null) || (sdRL == null))
        {
            // Close the popover after selection
            SetPopoverState(popKey, false);
            StateHasChanged();
            return;
        }

        // update the comparisons based on the bidirectional comparison
        sdLR.Relationship = brOpt.Value.LeftToRight();
        sdRL.Relationship = brOpt.Value.RightToLeft();

        // update the database
        sdLR.Update(Xver.ComparisonDb.DbConnection);
        sdRL.Update(Xver.ComparisonDb.DbConnection);

        // update the projection for the UI
        sdRow[leftColIndex]!.RightComparison!.Relationship = sdLR.Relationship;
        sdRow[rightColIndex]!.LeftComparison!.Relationship = sdRL.Relationship;

        // Close the popover after selection
        SetPopoverState(popKey, false);
        StateHasChanged();
    }

    // Secondary action handler for the dialog
    private void CancelStructureSelection()
    {
        // valueSetSelectionDialog!.Hide();
        visibleDialog = VisibleDialogCodes.None;
    }

    private void LoadStructuresForPackage(int packageIndex)
    {
        try
        {
            allStructures = DbStructureDefinition.SelectList(
                Xver.DbConnection,
                FhirPackageKey: _packages[packageIndex].Key,
                ArtifactClass: Microsoft.Health.Fhir.CodeGenCommon.Models.FhirArtifactClassEnum.PrimitiveType);

            allStructures.AddRange(DbStructureDefinition.SelectList(
                Xver.DbConnection,
                FhirPackageKey: _packages[packageIndex].Key,
                ArtifactClass: Microsoft.Health.Fhir.CodeGenCommon.Models.FhirArtifactClassEnum.ComplexType));

            allStructures.AddRange(DbStructureDefinition.SelectList(
                Xver.DbConnection,
                FhirPackageKey: _packages[packageIndex].Key,
                ArtifactClass: Microsoft.Health.Fhir.CodeGenCommon.Models.FhirArtifactClassEnum.Resource));

            filteredStructures = allStructures.AsQueryable();
        }
        catch (Exception)
        {
            allStructures = [];
            filteredStructures = Enumerable.Empty<DbStructureDefinition>().AsQueryable();
        }
    }

    private void FilterStructures(ChangeEventArgs e)
    {
        string? searchText = e.Value?.ToString()?.ToLowerInvariant();

        if (string.IsNullOrWhiteSpace(searchText))
        {
            filteredStructures = allStructures.AsQueryable();
        }
        else
        {
            filteredStructures = allStructures
                .Where(vs =>
                    vs.Name.Contains(searchText!, StringComparison.OrdinalIgnoreCase) ||
                    (vs.Title?.Contains(searchText!, StringComparison.OrdinalIgnoreCase) ?? false) ||
                    (vs.Description?.Contains(searchText!, StringComparison.OrdinalIgnoreCase) ?? false) ||
                    (vs.Id?.ToLowerInvariant()?.Contains(searchText!) ?? false))
                .AsQueryable();
        }
    }

    private void LoadPackages()
    {
        try
        {
            _packages = DbFhirPackage.SelectList(
                Xver.DbConnection,
                orderByProperties: [nameof(DbFhirPackage.ShortName)]);

            _lastPackageIndex = _packages.Count - 1;
        }
        catch (Exception)
        {
            _packages = [];
            _lastPackageIndex = -1;
        }
    }

    private string GetDateDisplay(DateTime? date) => date == null
        ? string.Empty
        : date.Value.ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss");

    private void LoadMappingRow(DbGraphSd.DbSdRow row)
    {
        if (sdUiRec == null)
        {
            initialElementProjection = [];
            elementGraphProjection = initialElementProjection.AsQueryable();

            return;
        }

        if (_selectedSdRowId != row.RowId)
        {
            _selectedSdRowId = row.RowId;
            _selectedSdRow = row;
        }

        row.BuildProjection(fullJoin: true);

        initialElementProjection = row.Projection;
        elementGraphProjection = initialElementProjection.AsQueryable();

        StateHasChanged();
    }

    private void LoadStructure(bool forceReload = false)
    {
        try
        {
            if ((Xver.IsOpen == false) ||
                (Xver.DbConnection == null) ||
                (Xver.Comparer == null))
            {
                return;
            }

            if ((_loadedStructureKey == StructureKey) && !forceReload)
            {
                return;
            }

            _loadedStructureKey = StructureKey;

            if (_packages.Count == 0)
            {
                LoadPackages();
            }

            ClearElementSelection();
            _selectedSdRow = null;
            _selectedSdRowId = Guid.Empty;

            // Query Structures for the specified FhirPackageKey
            DbStructureDefinition? sd = DbStructureDefinition.SelectSingle(
                Xver.DbConnection,
                FhirPackageKey: FhirPackageKey,
                Key: StructureKey);

            if (sd == null)
            {
                return;
            }

            sdUiRec = new(Xver.DbConnection, sd, _packages);
            sdGraphProjection = sdUiRec.Projection.AsQueryable();

            _selectedSdRowId = Guid.Empty;
            if (sdUiRec.Projection.Count > 0)
            {
                LoadMappingRow(sdUiRec.Projection[0]);
            }
            else
            {
                _selectedSdRow = null;
                _selectedSdRowId = Guid.Empty;
            }

            StateHasChanged();
        }
        catch (Exception)
        {
        }
    }
}
