@page "/valuesets/{FhirPackageKey:int}/{ValueSetKey:int}"

@using Microsoft.Health.Fhir.Comparison.Models
@using xver_editor.Services
@using Microsoft.FluentUI.AspNetCore.Components
@using System.Diagnostics.CodeAnalysis
@using System.Collections.Concurrent;
@using System.Text;

@inject IXverDbService DbService
@inject NavigationManager NavigationManager

<FluentStack Orientation="Orientation.Vertical" VerticalGap="8">
    <FluentLabel Typo="Typography.H4">Value Set details for @ValueSetName (DB Key: @ValueSetKey)</FluentLabel>

    @if (vsUiRec == null)
    {
        <FluentLabel Typo="Typography.Body">Loading...</FluentLabel>
    }
    else
    {
        <FluentTabs Width="100%" @ref="tabsComponent" ActiveTabId="@activeTabId">
            <FluentTab Id="overview" Label="Overview">
                <FluentStack Orientation="Orientation.Vertical" VerticalGap="8">
                    <FluentLabel Typo="Typography.H5">Value Set Info</FluentLabel>
                    <FluentCard Width="100%">
                        <div style="padding: 16px;">
                            <FluentStack Orientation="Orientation.Vertical" VerticalGap="12">
                                <FluentGrid Columns="2" ColumnSpan="2">
                                    <FluentGridItem>
                                        <FluentTextField Label="Name" Value="@vsUiRec.Vs.Name" ReadOnly="true" />
                                    </FluentGridItem>
                                    <FluentGridItem>
                                        <FluentTextField Label="ID" Value="@vsUiRec.Vs.Id" ReadOnly="true" />
                                    </FluentGridItem>
                                    <FluentGridItem>
                                        <FluentTextField Label="URL" Value="@vsUiRec.Vs.UnversionedUrl" ReadOnly="true" />
                                    </FluentGridItem>
                                    <FluentGridItem>
                                        <FluentTextField Label="Version" Value="@vsUiRec.Vs.Version" ReadOnly="true" />
                                    </FluentGridItem>
                                    <FluentGridItem>
                                        <FluentTextField Label="Description" Value="@vsUiRec.Vs.Description" ReadOnly="true" />
                                    </FluentGridItem>
                                    <FluentGridItem>
                                        <FluentTextField Label="Publication Status" Value="@vsUiRec.Vs.Status.ToString()" ReadOnly="true" />
                                    </FluentGridItem>
                                    <FluentGridItem>
                                        <FluentTextField Label="Total Concepts" Value="@vsUiRec.Vs.ConceptCount.ToString()" ReadOnly="true" />
                                    </FluentGridItem>
                                    <FluentGridItem>
                                        <FluentTextField Label="Active Concrete Concepts" Value="@vsUiRec.Vs.ActiveConcreteConceptCount.ToString()" ReadOnly="true" />
                                    </FluentGridItem>
                                    <FluentGridItem>
                                        <FluentTextField Label="Can Expand" Value="@vsUiRec.Vs.CanExpand.ToString()" ReadOnly="true" />
                                    </FluentGridItem>
                                    <FluentGridItem>
                                        <FluentTextField Label="Has Escape-Value Code" Value="@vsUiRec.Vs.HasEscapeValveCode.ToString()" ReadOnly="true" />
                                    </FluentGridItem>
                                    <FluentGridItem>
                                        <FluentTextField Label="Strongest Binding Core" Value="@(vsUiRec.Vs.StrongestBindingCore?.ToString() ?? "None")" ReadOnly="true" />
                                    </FluentGridItem>
                                    <FluentGridItem>
                                        <FluentTextField Label="Message" Value="@(vsUiRec.Vs.Message ?? "None")" ReadOnly="true" />
                                    </FluentGridItem>
                                </FluentGrid>
                            </FluentStack>
                        </div>
                    </FluentCard>

                    <FluentLabel Typo="Typography.H5">Referenced Systems</FluentLabel>
                    <FluentCard Width="100%">
                        <ul>
                            @foreach (string referencedSystem in (vsUiRec.Vs.ReferencedSystems ?? string.Empty).Split(", "))
                            {
                                <li><FluentTextField Value="@referencedSystem" ReadOnly="true" /></li>
                            }
                        </ul>
                    </FluentCard>

                    <FluentLabel Typo="Typography.H5">Bindings</FluentLabel>
                    <FluentCard Width="100%">
                        <div style="padding: 16px;">
                            <FluentDataGrid Items="@_boundElements" GridTemplateColumns="1fr 1.5fr 1fr 0.8fr 2fr" class="alternating-grid">
                                <PropertyColumn Title="Element" Property="@(e => e.Path)" Sortable="true" />
                                <PropertyColumn Title="Structure URL" Property="@(e => GetElementStructureUrl(e))" Sortable="true" />
                                <PropertyColumn Title="Binding" Property="@(e => e.BindingValueSet ?? string.Empty)" Sortable="true" />
                                <PropertyColumn Title="Strength" Property="@(e => e.ValueSetBindingStrength == null ? string.Empty : e.ValueSetBindingStrength.ToString())" Sortable="true" />
                                <PropertyColumn Title="Short Description" Property="@(e => e.Short ?? string.Empty)" Sortable="true" />
                            </FluentDataGrid>
                        </div>
                    </FluentCard>

                </FluentStack>
            </FluentTab>
            <FluentTab Id="mappingTable" Label="All-Version Mapping Table">
                <FluentStack Orientation="Orientation.Vertical" VerticalGap="8">
                    <FluentLabel Typo="Typography.H5">All-Version Mapping Table</FluentLabel>
                    <FluentCard Width="100%">
                        <div class="grid-container" style="padding: 16px;">
                            @if (vsUiRec.Projection.Count == 0)
                            {
                                <p>No mapping data available for this ValueSet.</p>
                            }
                            else
                            {
                                <FluentDataGrid Items="@graphProjection" ResizableColumns="true" GridTemplateColumns="@GetMappingTableColumns()" MultiLine="true" class="alternating-grid">
                                    @for (int i = 0; i < _packages.Count; i++)
                                    {
                                        int packageIndex = i;
                                        <TemplateColumn Title="@_packages[packageIndex].ShortName">
                                            @{
                                                DbVsCell? cell = context[packageIndex];
                                            }
                                            @if (cell != null)
                                            {
                                                <div>
                                                    <div><strong>@cell.Vs.Name</strong></div>
                                                    <div>@cell.Vs.Id</div>
                                                    <div>
                                                        <FluentBadge Appearance="@(cell.Vs.Key == ValueSetKey ? Appearance.Accent : Appearance.Neutral)">
                                                            Concepts: @cell.Concepts.Count
                                                        </FluentBadge>
                                                    </div>
                                                </div>
                                            }
                                        </TemplateColumn>

                                        @if (i < _packages.Count - 1)
                                        {
                                            <TemplateColumn Title="Comparison">
                                                @{
                                                    (DbVsCell? cell, int cellIndex, DbValueSetComparison? toRight, DbValueSetComparison? fromRight) c = (
                                                            context[packageIndex],
                                                            packageIndex,
                                                            context[packageIndex]?.RightComparison,
                                                            packageIndex < _packages.Count - 1 ? context[packageIndex + 1]?.LeftComparison : null);
                                                }
                                                @if (c.cell != null)
                                                {
                                                    @if (c.toRight != null)
                                                    {
                                                        <div>
                                                            <FluentStack Orientation="Orientation.Vertical">
                                                                <FluentIcon Value="@(new Icons.Regular.Size24.ArrowRight())" />
                                                                <FluentBadge Appearance="@(c.toRight.LastReviewedOn == null ? Appearance.Accent : Appearance.Neutral)">
                                                                    @(c.toRight.LastReviewedOn == null ? "Unreviewed" : "Reviewed")
                                                                </FluentBadge>
                                                                <FluentButton OnClick="@(() => SelectComparison(context, c.toRight, c.cellIndex, c.cellIndex + 1))"
                                                                Appearance="Appearance.Outline" IconEnd="@(new Icons.Regular.Size16.WindowDevEdit())">
                                                                    Details
                                                                </FluentButton>
                                                                <FluentLabel Typo="Typography.Body">DB Key: @c.toRight.Key</FluentLabel>
                                                                <FluentLabel Typo="Typography.Body">@c.toRight.Relationship</FluentLabel>
                                                                <FluentLabel Typo="Typography.Body">@(c.toRight.LastReviewedOn?.ToLongTimeString() ?? string.Empty)</FluentLabel>
                                                                <FluentLabel Typo="Typography.Body">@(c.toRight.LastReviewedBy ?? string.Empty)</FluentLabel>
                                                            </FluentStack>
                                                        </div>
                                                    }

                                                    @if (c.fromRight != null)
                                                    {
                                                        <div>
                                                            <FluentStack Orientation="Orientation.Vertical">
                                                                <FluentIcon Value="@(new Icons.Regular.Size24.ArrowLeft())" />
                                                                <FluentBadge Appearance="@(c.fromRight.LastReviewedOn == null ? Appearance.Accent : Appearance.Neutral)">
                                                                    @(c.fromRight.LastReviewedOn == null ? "Unreviewed" : "Reviewed")
                                                                </FluentBadge>
                                                                <FluentButton OnClick="@(() => SelectComparison(context, c.fromRight, c.cellIndex + 1, c.cellIndex))"
                                                                Appearance="Appearance.Outline"
                                                                IconEnd="@(new Icons.Regular.Size16.WindowDevEdit())">
                                                                    Details
                                                                </FluentButton>
                                                                <FluentLabel Typo="Typography.Body">DB Key: @c.fromRight.Key</FluentLabel>
                                                                <FluentLabel Typo="Typography.Body">@c.fromRight.Relationship</FluentLabel>
                                                                <FluentLabel Typo="Typography.Body">@(c.fromRight.LastReviewedOn?.ToLongTimeString() ?? string.Empty)</FluentLabel>
                                                                <FluentLabel Typo="Typography.Body">@(c.fromRight.LastReviewedBy ?? string.Empty)</FluentLabel>
                                                            </FluentStack>
                                                        </div>
                                                    }
                                                }
                                            </TemplateColumn>
                                        }
                                    }
                                </FluentDataGrid>
                            }
                        </div>
                    </FluentCard>
                </FluentStack>
            </FluentTab>
            <FluentTab Id="comparisonDetails" Label="Comparison Details">
                <FluentStack Orientation="Orientation.Vertical" VerticalGap="8">
                    <FluentLabel Typo="Typography.H5">Comparison Details</FluentLabel>

                    @if ((selectedComparison == null) ||
                    (comparisonSourceCell == null) ||
                    (comparisonTargetCell == null))
                    {
                        <FluentCard>
                            <FluentLabel Typo="Typography.Body">Please select a comparison to review.</FluentLabel>
                        </FluentCard>
                    }
                    else
                    {
                        <FluentCard Width="100%">
                            <FluentLabel Typo="Typography.H5">@selectedComparison.CompositeName</FluentLabel>
                            <br />

                            <FluentTextField Label="Comparison DB Key" Value="@selectedComparison.Key.ToString()" ReadOnly="true" />

                            <FluentDataGrid GenerateHeader="GenerateHeaderOption.None" DisplayMode="DataGridDisplayMode.Table" TGridItem="string" role="grid" class="full-width">
                                <FluentDataGridRow RowType="DataGridRowType.Header">
                                    <FluentDataGridCell GridColumn=1 CellType="DataGridCellType.ColumnHeader" Style="width: 20%;"></FluentDataGridCell>
                                    <FluentDataGridCell GridColumn=2 CellType="DataGridCellType.ColumnHeader" Style="width: 40%;">Source</FluentDataGridCell>
                                    <FluentDataGridCell GridColumn=3 CellType="DataGridCellType.ColumnHeader" Style="width: 40%;">Target</FluentDataGridCell>
                                </FluentDataGridRow>
                                <FluentDataGridRow>
                                    <FluentDataGridCell GridColumn=1>Package</FluentDataGridCell>
                                    <FluentDataGridCell GridColumn=2>@((comparisonSourcePackage?.PackageId ?? string.Empty) + (comparisonSourcePackage?.PackageVersion ?? string.Empty))</FluentDataGridCell>
                                    <FluentDataGridCell GridColumn=3>@((comparisonTargetPackage?.PackageId ?? string.Empty) + (comparisonTargetPackage?.PackageVersion ?? string.Empty))</FluentDataGridCell>
                                </FluentDataGridRow>
                                <FluentDataGridRow>
                                    <FluentDataGridCell GridColumn=1>Id</FluentDataGridCell>
                                    <FluentDataGridCell GridColumn=2>@comparisonSourceCell.Vs.Id</FluentDataGridCell>
                                    <FluentDataGridCell GridColumn=3>@comparisonTargetCell.Vs.Id</FluentDataGridCell>
                                </FluentDataGridRow>
                                <FluentDataGridRow>
                                    <FluentDataGridCell GridColumn=1>Name</FluentDataGridCell>
                                    <FluentDataGridCell GridColumn=2>@comparisonSourceCell.Vs.Name</FluentDataGridCell>
                                    <FluentDataGridCell GridColumn=3>@comparisonTargetCell.Vs.Name</FluentDataGridCell>
                                </FluentDataGridRow>
                                <FluentDataGridRow>
                                    <FluentDataGridCell GridColumn=1>URL</FluentDataGridCell>
                                    <FluentDataGridCell GridColumn=2>@comparisonSourceCell.Vs.UnversionedUrl</FluentDataGridCell>
                                    <FluentDataGridCell GridColumn=3>@comparisonTargetCell.Vs.UnversionedUrl</FluentDataGridCell>
                                </FluentDataGridRow>
                                <FluentDataGridRow>
                                    <FluentDataGridCell GridColumn=1>Version</FluentDataGridCell>
                                    <FluentDataGridCell GridColumn=2>@comparisonSourceCell.Vs.Version</FluentDataGridCell>
                                    <FluentDataGridCell GridColumn=3>@comparisonTargetCell.Vs.Version</FluentDataGridCell>
                                </FluentDataGridRow>
                                <FluentDataGridRow>
                                    <FluentDataGridCell GridColumn=1>Concept Count</FluentDataGridCell>
                                    <FluentDataGridCell GridColumn=2>@comparisonSourceCell.Vs.ConceptCount</FluentDataGridCell>
                                    <FluentDataGridCell GridColumn=3>@comparisonTargetCell.Vs.ConceptCount</FluentDataGridCell>
                                </FluentDataGridRow>
                                <FluentDataGridRow>
                                    <FluentDataGridCell GridColumn=1>Active and Concrete</FluentDataGridCell>
                                    <FluentDataGridCell GridColumn=2>@comparisonSourceCell.Vs.ActiveConcreteConceptCount</FluentDataGridCell>
                                    <FluentDataGridCell GridColumn=3>@comparisonTargetCell.Vs.ActiveConcreteConceptCount</FluentDataGridCell>
                                </FluentDataGridRow>
                            </FluentDataGrid>
                        </FluentCard>

                        <FluentCard Width="100%">
                            <FluentLabel Typo="Typography.H5">Concept Mapping</FluentLabel>
                            <br />
                            <div class="grid-container">
                                <FluentDataGrid Items="conceptProjection" ShowHover="true" DisplayMode="DataGridDisplayMode.Table" role="grid" >
                                    <PropertyColumn Title="Source System" Property="@(e => e[csIndex]!.Concept.System)" Sortable="true" />
                                    <PropertyColumn Title="Source Code" Property="@(e => e[csIndex]!.Concept.Code)" Sortable="true" />

                                    <TemplateColumn Title="NoMap" Sortable="false">
                                        @if (cRight)
                                        {
                                            <FluentCheckbox Value="@(context[csIndex]!.RightComparison?.NoMap ?? true)" />
                                        }
                                        else
                                        {
                                            <FluentCheckbox Value="@(context[csIndex]!.LeftComparison?.NoMap ?? true)" />
                                        }
                                    </TemplateColumn>

                                    <TemplateColumn Title="Relationship" Sortable="false">
                                        @if (cRight)
                                        {
                                            <FluentLabel Typo="Typography.Body">@(context[csIndex]!.RightComparison?.Relationship.ToString() ?? string.Empty)</FluentLabel>
                                        }
                                        else
                                        {
                                            <FluentLabel Typo="Typography.Body">@(context[csIndex]!.LeftComparison?.Relationship.ToString() ?? string.Empty)</FluentLabel>
                                        }
                                    </TemplateColumn>

                                    <TemplateColumn Title="Target System" Sortable="true">
                                        <FluentLabel Typo="Typography.Body">@(context[ctIndex]?.Concept.System ?? string.Empty)</FluentLabel>
                                    </TemplateColumn>

                                    <TemplateColumn Title="Target Code" Sortable="true">
                                        <FluentLabel Typo="Typography.Body">@(context[ctIndex]?.Concept.Code ?? string.Empty)</FluentLabel>
                                    </TemplateColumn>
                                </FluentDataGrid>
                            </div>
                        </FluentCard>
                    }
                </FluentStack>
            </FluentTab>

        </FluentTabs>
    }
</FluentStack>

<style>
    .grid-container {
    margin-top: 1rem;
    width: 100%;
    }

    .full-width {
    width: 100%;
    }

    /* Apply alternating row colors */
    ::deep .alternating-grid fluent-data-grid-row:nth-child(even) {
    background-color: var(--neutral-layer-4);
    }

    /* Highlight hovered row */
    ::deep .alternating-grid fluent-data-grid-row:hover {
    background-color: var(--neutral-layer-hover);
    cursor: pointer;
    }
</style>


@code {
    [Parameter]
    public int FhirPackageKey { get; set; }

    [Parameter]
    public int ValueSetKey { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "packageShort")]
    public string PackageShortName { get; set; } = string.Empty;

    [Parameter]
    [SupplyParameterFromQuery(Name = "vsName")]
    public string ValueSetName { get; set; } = string.Empty;

    [CascadingParameter]
    public INavTracker? NavTracker { get; set; } = null;

    private NavPageInfoRec[] _navPages => new NavPageInfoRec[]
    {
        new() { Display = $"{PackageShortName}: Value Sets", Link = $"/valuesets/{FhirPackageKey}?packageShort={PackageShortName}" },
        new() { Display = ValueSetName, Link = $"/valuesets/{FhirPackageKey}/{ValueSetKey}/?packageShort={PackageShortName}&vsName={ValueSetName}" },
    };

    private FluentTabs? tabsComponent;
    private string activeTabId = "overview";

    private VsRecForUi? vsUiRec = null;
    private List<DbFhirPackage> _packages = [];
    private IQueryable<DbElement> _boundElements = Enumerable.Empty<DbElement>().AsQueryable();
    private Dictionary<int, DbStructureDefinition> _boundStructures = [];
    private IQueryable<DbVsCell?[]>? graphProjection = null;

    private DbVsCell?[] comparisonFilteredVsRow = [];
    private DbValueSetComparison? selectedComparison = null;
    private int csIndex = 0;
    private int ctIndex = 0;
    private DbVsCell? comparisonSourceCell = null;
    private DbVsCell? comparisonTargetCell = null;
    private DbFhirPackage? comparisonSourcePackage = null;
    private DbFhirPackage? comparisonTargetPackage = null;
    private IQueryable<DbVsConceptCell?[]> conceptProjection = Enumerable.Empty<DbVsConceptCell?[]>().AsQueryable();
    private bool cRight = true;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        NavTracker?.NotifyNav(_navPages);
        LoadValueSet();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        LoadValueSet();
    }

    private string GetElementStructureUrl(DbElement e) => _boundStructures.TryGetValue(e.StructureKey, out DbStructureDefinition? structure)
            ? structure.UnversionedUrl
            : string.Empty;

    private string GetMappingTableColumns()
    {
        // Calculate the columns - we need one for each package plus comparison columns between them
        int packageCount = _packages.Count;
        int comparisonCount = packageCount - 1; // One less comparison column than packages

        // Build column template: package (1fr) + comparison (0.8fr) + package (1fr) + ...
        System.Text.StringBuilder sb = new();
        for (int i = 0; i < packageCount; i++)
        {
            sb.Append("1fr"); // Package column

            if (i < comparisonCount)
            {
                sb.Append(" 0.8fr"); // Comparison column
            }
        }

        return sb.ToString();
    }

    private void SelectComparison(
        DbVsCell?[] valueSetRow,
        DbValueSetComparison comparison,
        int sourceCellIndex,
        int targetCellIndex)
    {
        comparisonFilteredVsRow = new DbVsCell?[valueSetRow.Length];
        comparisonFilteredVsRow[sourceCellIndex] = valueSetRow[sourceCellIndex];
        comparisonFilteredVsRow[targetCellIndex] = valueSetRow[targetCellIndex];

        cRight = sourceCellIndex < targetCellIndex;
        selectedComparison = comparison;

        csIndex = sourceCellIndex;
        comparisonSourceCell = valueSetRow[sourceCellIndex];
        comparisonSourcePackage = _packages[sourceCellIndex];

        ctIndex = targetCellIndex;
        comparisonTargetCell = valueSetRow[targetCellIndex];
        comparisonTargetPackage = _packages[targetCellIndex];


        conceptProjection = (vsUiRec?.Graph.ProjectConcepts(comparisonFilteredVsRow, sourceCellIndex) ?? []).AsQueryable();

        activeTabId = "comparisonDetails";
        StateHasChanged();
    }

    private void LoadPackages()
    {
        try
        {
            _packages = DbFhirPackage.SelectList(
                DbService.DB,
                orderByProperties: [nameof(DbFhirPackage.ShortName)]);
        }
        catch (Exception)
        {
            _packages = [];
        }
    }

    private void LoadValueSet()
    {
        try
        {
            if (vsUiRec != null)
            {
                return;
            }

            if (_packages.Count == 0)
            {
                LoadPackages();
            }

            // Query ValueSets for the specified FhirPackageKey
            DbValueSet? vs = DbValueSet.SelectSingle(
                DbService.DB,
                FhirPackageKey: FhirPackageKey,
                Key: ValueSetKey);

            if (vs == null)
            {
                return;
            }

            _boundElements = DbElement.SelectList(
                DbService.DB,
                BindingValueSetKey: ValueSetKey,
                orderByProperties: [nameof(DbElement.Key)])
                .AsQueryable();

            foreach (DbElement element in _boundElements)
            {
                if (_boundStructures.ContainsKey(element.StructureKey))
                {
                    continue;
                }

                DbStructureDefinition? structure = DbStructureDefinition.SelectSingle(
                    DbService.DB,
                    Key: element.StructureKey);
                if (structure != null)
                {
                    _boundStructures[element.StructureKey] = structure;
                }
            }

            vsUiRec = new(DbService.DB, vs, _packages);
            graphProjection = vsUiRec.Projection.AsQueryable();
        }
        catch (Exception)
        {
        }
    }
}
